In [7]:
import numpy as np
import pandas as pd
import sqlite3

In [8]:
conn = sqlite3.connect('movielens.db')
# conn.execute('DROP TABLE tags')
# conn.execute('DROP TABLE movies')
# conn.execute('DROP TABLE ratings')
# conn.execute('DROP TABLE movielens')

OperationalError: no such table: tags

In [9]:
df_ratings = pd.read_csv('ratings.csv')
print(df_ratings.shape)
df_ratings.head(5)
df_ratings.to_sql('ratings', con=conn, 
              if_exists='replace', index=False)

(100836, 4)

100836

In [10]:
df_ratings.rating.unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [11]:
df_movies = pd.read_csv('movies.csv')
print(df_movies.shape)
df_movies.head(5)
df_movies.to_sql('movies', con=conn, 
              if_exists='replace', index=False)

(9742, 3)

9742

In [12]:
df_tags = pd.read_csv('tags.csv')
print(df_tags.shape)
df_tags.head(5)
df_tags.to_sql('tags', con=conn, 
              if_exists='replace', index=False)

(3683, 4)

3683

In [13]:
df_movielens = df_movies.merge(df_ratings, how='inner', left_on='movieId', right_on='movieId')
df_movielens = df_movielens.merge(df_tags, how='left', left_on=['userId', 'movieId'], right_on= ['userId', 'movieId'])
df_movielens.drop(['timestamp_x', 'timestamp_y'], axis=1).to_sql('movielens', con=conn, 
              if_exists='replace', index=False)

102677

In [14]:
df_movie_sql = pd.read_sql('SELECT * FROM movielens', conn)
df_movie_sql

,movieId,title,genres,userId,rating,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,None
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,None
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,None
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,None
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,None
...,...,...,...,...,...,...
102672,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,None
102673,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,None
102674,193585,Flint (2017),Drama,184,3.5,None
102675,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,None
102676,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,None