In [1]:
from IPython.display import HTML
HTML('''
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.
js"></script>
<script>
code_show=true;
function code_toggle() {
if (code_show){
$('div.jp-CodeCell > div.jp-Cell-inputWrapper').hide();
} else {
$('div.jp-CodeCell > div.jp-Cell-inputWrapper').show();
}
code_show = !code_show
}
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" 
value="Click here to toggle on/off the raw code."></form>
''')

In [2]:
from IPython.core.display import HTML
HTML("""
<style>
.output_png {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
</style>
""")

<h1 style="background-color:#B81D24; color:#F5F5F1; padding: 20px;">Title</h1>

<center id="DMW2_Final_Project"><img src="./DMW2_FinalProject_Banner.jpg" width="100%" height="100%"></center>
<center>Image 01. Project Title Banner.</center>

<h1 style="background-color:#B81D24; color:#F5F5F1; padding: 20px;">Executive Summary</h1>

This project aims to understand a user‚Äôs movie recommendations based on their rating history and genre preferences.  This knowledge can bring business value to both the user and the creator of movies. The outcome of this study can help recommend the user‚Äôs next movie to watch. With sufficient data and user recommendations, the system can help determine the next big blockbuster based on the preferences and user ratings of the people.

For this study, the team uses the Movielens dataset with user ratings of various movies from the 1900s until 2018.  The dataset is split into multiple CSV files, such as movies.csv, tags.csv, links.csv, and ratings.csv. After initial data collection and Exploratory Data Analysis, the team performed Dimensionality Reduction, Data Clustering, and Frequent Itemset Mining. Lastly, the team developed a recommender system using Neighboord-based Collaborative Filtering, Latent Factor Collaborative Filtering, and Content-Based.

With dimensionality reduction, the team transformed the data using Singular Value Decomposition (SVD). Then, user clustering by K-Means was used to cluster the data into different groups, such as lightweight and heavyweight. The team also used K-Means on the completed matrix using Coordinate Gradient Descent (CGD) to cluster groups such as Enthusiastic and Disappointed, with average ratings of 4.22 and 2.56, respectively. To determine which genre pairs have the highest rating or highest lift, the team used Frequent Itemset Mining. After various data processes were concluded, the team developed recommender system user profiles. These profiles show the user‚Äôs number of reviews, average rating, and liked genres.

To summarize our findings, the team used a validation matrix to have a side-by-side picture of each recommender system with the DCG and NDCG. Finally, the team concluded that there is no best recommender system as this study showed a specific use case applicable to each algorithm. As such, there is room for improvement as improving the item profile content-based would be the most appropriate for this particular used case.

<h1 style="background-color:#B81D24; color:#F5F5F1; padding: 20px;">Problem Statement</h1>

How can we use a viewer's rating history and similar users' genre preferences to recommend new movies tailored to their tastes?

<h1 style="background-color:#B81D24; color:#F5F5F1; padding: 20px;">Motivation</h1>

Before machine learning and artificial intelligence, how do we select which movie to watch next? We will likely pick one whose trailer we came across that seems interesting, turn to our friends and colleagues for suggestions, or maybe take a chance at a stranger's recommendation. Whose recommendation would you likely rate high?

It all goes back to the user, what we know of him, and his preferences. The algorithm behind a recommendation system depends on how we want to suggest it to a user. For example, the system can be designed to recommend based on the user's historical preference. Another approach can be designed to encourage users to explore new genres.

ReelTalk seeks to provide insight into how filtering and similarity methods affect the outcome of a recommendation system.

<h1 style="background-color:#B81D24; color:#F5F5F1; padding: 20px;">Data Source</h1>

***
<h2 style="color:#E50914">Data Description</h2>

***

The MovieLens dataset is publicly available at GroupLens.org.[[1]](http://grouplens.org/datasets/) The dataset, ml-small-latest, particularly used for this project, contains `100836 ratings` and `3683 tags` across `9742 movies`. This is a subset from the entire MovieLens dataset where users who rated at least 20 movies were randomly selected. Each user was assigned an ID, and no further information about the user was disclosed. Included in the dataset are movies with at least one rating or tag. In addition, an ID represents the movies, and the movie title and genre are available information.

The dataset is located in separate CSVs. This notebook includes a python notebook to collate all datasets into a single SQL database.

<br><center>Table 01. Data Features, Description and Type.</center>
<table style="width:100%">
    <tr style="background-color:#7B7C7C; color:#F5F5F1">
      <th style="width:15%; text-align:center">Variable Name</th>
      <th style="width:70%; text-align:center" >Data Description</th>
      <th style="width:10%; text-align:center">Data Type</th>
    </tr>
    <tr>
        <td style="text-align:left">movieId</td>
        <td style="text-align:left">Unique ID for each movie.</td>
        <td style="text-align:left">Integer</td>
      </tr>
   <tr>
      <td style="text-align:left">title</td>
      <td style="text-align:left">Title of the movie, included is the released year enclosed with parenthesis (e.g. Movie title (2023)).</td>
      <td style="text-align:left">Text</td>
    </tr>
   <tr>
      <td style="text-align:left">genres</td>
      <td style="text-align:left">Movie genre (can have multiple genre for each movie).</td>
      <td style="text-align:left">Text</td>
    </tr>
    <tr>
      <td style="text-align:left">userId</td>
      <td style="text-align:left">Unique ID for each user.</td>
      <td style="text-align:left">Integer</td>
    </tr>
    <tr>
      <td style="text-align:left">rating</td>
      <td style="text-align:left">Rating given by the user to the movie (Lowest value=0, Highest value=5, Incremental value=0.5).</td>
      <td style="text-align:left">Float</td>
    </tr>
    <tr>
      <td style="text-align:left">tag</td>
      <td style="text-align:left">Tag word by the user to the movie.</td>
      <td style="text-align:left">Text</td>
  </table>

***
<h2 style="color:#E50914">Data and Project Limitation</h2>

***

The project is limited only to the algorithms discussed in class, and we have performed the study on selected users from various clusters. We have used the full dataset from the source file, the smaller subset of the complete `MovieLens` data, which contains millions of rows. We need to choose the **smaller subset** to ensure we will be able to run it with our limited processing.

<h1 style="background-color:#B81D24; color:#F5F5F1; padding: 20px;">Methodology</h1>

<center><img src="./DMW2_FinalProject_Methodology.jpg" width="100%" height="100%"></center>
<center>Image 02. Project Methodology.</center>

**Data Collection**

The data was extracted from the `MovieLens` dataset. It is then loaded into the SQL database for easier loading and parsing of necessary data.
<br><br>

**Exploratory Data Analysis**

The data was preprocessed and formatted to be easily processed by frequent itemset mining and recommender system algorithms. Finally, descriptive analytics of movies and ratings are done. This includes `histogram of genres and ratings`, and lists of `top rated movies with at least 100 reviews`.
<br><br>

**Dimensionality Reduction**

The data dimension was reduced using `Singular Value Decomposition (SVD)` to operate efficiently on the data frame. The team set the cumulative explained variance to be 80% resulting in 160 SVs remaining.
<br><br>

**Data Clustering**

Unique users were clustered using `K-means clustering` to determine the best cluster of users. This clustering activity was also done after completing the rating matrix resulting in a different clustering.
<br><br>

**Frequent Itemset Mining**

Frequent Itemset Mining (FIM) was used to discover insights on what makes a movie highly rated. Two `FIM` methods are done: frequent genre pair with the highest absolute support and antecedent-consequent pair with the highest lift.
<br><br>

**Recommender Systems**

Develop different `recommender algorithms` and compare and contrast the recommendations. For this study, we used the following: neighborhood-based collaborative filtering (user-based and item-based), latent factor-based collaborative filtering (Alternating Least Squares and Coordinate Gradient Descent), and Content-based (binary aggregation, numeric aggregation, and rule-based).

<h1 style="background-color:#B81D24; color:#F5F5F1; padding: 20px;">Data Exploration</h1>

In [3]:
# Basic Libraries
import pandas as pd
import numpy as np
import sqlite3
import re
from tqdm import tqdm
from collections import Counter
from matplotlib import pyplot as plt
from time import time
import warnings 
warnings.filterwarnings("ignore")

# Text Data Processing
import nltk
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize
from nltk.stem.porter import PorterStemmer 
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import _stop_words

# Dimensionality Reduction
from sklearn.decomposition import TruncatedSVD
from sklearn.decomposition import PCA
from scipy.cluster.hierarchy import dendrogram, fcluster

# Clustering
from sklearn.base import clone
from sklearn.cluster import KMeans
from sklearn.metrics import (calinski_harabasz_score,
                             silhouette_score, davies_bouldin_score)
from scipy.cluster.hierarchy import dendrogram, fcluster
from sklearn.cluster import AgglomerativeClustering
from fastcluster import linkage
from sklearn.neighbors import NearestNeighbors
from sklearn.cluster import DBSCAN
from sklearn.cluster import OPTICS, cluster_optics_dbscan
from wordcloud import WordCloud, STOPWORDS
from PIL import Image
from scipy.spatial.distance import cosine
import fim

# Recommender System
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import RobustScaler

# Others
pd.set_option('max_colwidth', None)
conn = sqlite3.connect('movielens.db')

Matplotlib created a temporary config/cache directory at /tmp/matplotlib-1ex2o6rb because the default path (/home/fgarcia/.cache/matplotlib) is not a writable directory; it is highly recommended to set the MPLCONFIGDIR environment variable to a writable directory, in particular to speed up the import of Matplotlib and to better support multiprocessing.

In [4]:
# Figure caption
fig_num = 1


def fig_caption(title, caption):
    """Print figure caption on jupyter notebook"""
    global fig_num
    display(HTML(f"""<p style="font-size:11px;font-style:default;">
                     <center><b>
                     Figure {fig_num}. {title}.</b>
                     <br>{caption}</center></p>"""))
    fig_num += 1

***
<h2 style="color:#E50914">Data Collection and Preprocessing</h2>

***

First, we load the dataset from the `SQL database`. Shown below is the dataset loaded in the `pandas dataframe`.

In [5]:
data = pd.read_sql('SELECT * FROM movielens', conn)
display(data)

,movieId,title,genres,userId,rating,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,None
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,None
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,None
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,None
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,None
...,...,...,...,...,...,...
102672,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,None
102673,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,None
102674,193585,Flint (2017),Drama,184,3.5,None
102675,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,None
102676,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,None

In [6]:
df_utility = data.pivot_table(index='userId',
                              columns='movieId', values='rating')
# display(df_utility)

In [7]:
df_title = data.groupby('movieId').agg({'title': 'first', 'genres': 'first'})
# display(df_title)

In [8]:
df_genres = data.groupby('movieId').agg({'genres': 'first'})
genres_df = df_genres['genres'].str.get_dummies('|')
df_items = pd.concat([df_genres, genres_df], axis=1)
df_items = df_items.drop(['genres'], axis=1)
# display(df_items)

***
<h2 style="color:#E50914">Exploratory Data Analysis</h2>

***

In [9]:
df_genre = (df_items.sum(axis=0)
            .sort_values(ascending=False)[:10].sort_values(ascending=True))
color = ['#7B7C7C', '#7B7C7C', '#7B7C7C', '#7B7C7C', '#7B7C7C',
         '#7B7C7C', '#7B7C7C', '#7B7C7C', '#B81D24', '#B81D24']

fig, ax = plt.subplots(figsize=(10, 8))
bars = ax.barh(df_genre.index, df_genre.values, color=color)

for idx, bar in enumerate(bars):
    height = bar.get_width()
    ax.text(height / 2, bar.get_y() + bar.get_height() / 2,
            df_genre.index[idx], ha='center', va='center', color='white',
            fontsize=13)
    if idx > 7:
        ax.text(height + 150, bar.get_y() + bar.get_height() / 2,
                df_genre.values[idx], ha='center', va='center',
                color='#F24e4B', fontsize=13)
    else:
        ax.text(height + 150, bar.get_y() + bar.get_height() / 2,
                df_genre.values[idx], ha='center', va='center',
                color='#A9A9A9', fontsize=13)

ax.set_xlim([0, 5000])
ax.spines['top'].set_visible(False)
ax.spines['right'].set_visible(False)
ax.spines['bottom'].set_visible(False)
ax.set_yticklabels([])
ax.set_xticklabels([])
ax.tick_params(axis='both', length=0, width=0, which='both')
ax.set_ylabel('Genre', size=12)
ax.set_xlabel('Count', size=12)
ax.set_title('Genre Count of the Dataset', size=18)

# Save the plot as a PNG file
plt.savefig("Genre_Counts.png")

# Create an HTML img tag to display the image
img_tag = (f'<img src="Genre_Counts.png" alt="plots" style="display:block;'
           f'margin-left:auto;margin-right:auto;width:60%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('Genre Count of the Dataset', '')

The graph shows that `Drama` and `Comedy` has the highest count with `4349` and `3753` respectively. The following top genre counts have counts below 2000. Most of the movies in the dataset have Drama and Comedy as their genre. Take note also that a movie could have multiple tagged genres.

The dataframe below shows the movies with at least 100 reviews and sorted according to the average rating. It shows that classic films such as `Pulp Fiction (1994) - 4.487 rating`, `The Shawshank Redemption (1994) - 4.432 rating`, and `Fight Club (1999) - 4.402` rating are the top-rated movies. On the other hand, `Coneheads (1993) - 2.420`, `Judge Dredd (1995) - 2.669`, and `Mission: Impossible II (2000) - 2.714` rating are the bottom-rated movies.

In [10]:
# Filter out only the movies reviewed by 10% of the users
user_lim = 0.10 * data['userId'].nunique()
df_eda = data.groupby(['movieId', 'title'])['rating'].agg(
    ['mean', 'count']).reset_index().set_index('movieId')
df_rating = df_eda[df_eda['count'] > user_lim][[
    'title', 'mean']].sort_values('mean', ascending=False)
display(df_rating)

                                                title      mean
movieId
296                               Pulp Fiction (1994)  4.487603
318                  Shawshank Redemption, The (1994)  4.432602
2959                                Fight Club (1999)  4.402985
858                             Godfather, The (1972)  4.289062
7361     Eternal Sunshine of the Spotless Mind (2004)  4.278481
...                                               ...       ...
19              Ace Ventura: When Nature Calls (1995)  2.727273
3977                          Charlie's Angels (2000)  2.722222
3623                    Mission: Impossible II (2000)  2.714286
173                                Judge Dredd (1995)  2.669355
435                                  Coneheads (1993)  2.420635

[323 rows x 2 columns]

<center><b>Top Three Highly Rated Movies with at least 100 Reviews</b><center>

<table style="width:100%">
    <tr style="background-color:#B81D24; color:#F5F5F1">
      <th style="width:50%; text-align:center">Top 1</th>
      <th style="width:50%; text-align:center" >Top 2</th>
      <th style="width:50%; text-align:center">Top 3</th>
    </tr>
    <tr>
        <td style="width: 50%; text-align: center;"><img src="Pulp_Fiction_Poster.jpg" style="display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%;"><br>Pulp Fiction (1994)<br>4.487 Rating</td>
        <td style="width: 50%; text-align: center;"><img src="The_Shawshank_Redemption_Poster.jpg" style="display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%;"><br>The Shawshank Redemption (1994)<br>4.432 Rating</td>
        <td style="width: 50%; text-align: center;"><img src="Fight_Club_Poster.jpg" style="display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%;"><br>Fight Club (1999)<br>4.402 Rating</td>
      </tr>
  </table>
<center>Image 03. Top Three Rated Movies with at least 100 Reviews.</center>

In [11]:
fig, ax = plt.subplots(figsize=(8, 6))
data['rating'].hist(ax=ax, color='#B81D24')
ax.set_ylabel('Count of Ratings', size=12)
ax.set_xlabel('Rating Value', size=12)
ax.set_title('Historgram of Movie Ratings', size=18)
ax.grid(False)

# Save the plot as a PNG file
plt.savefig("Histogram_of_Ratings.png")

# Create an HTML img tag to display the image
img_tag = (f'<img src="Histogram_of_Ratings.png" alt="plots" style="display:'
           f'block;margin-left:auto;margin-right:auto;width:60%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('Historgram of Movie Ratings', '')

The histogram above shows that most users rated the movie around 3 to 4. Interestingly most users avoid rating the movies with 0.5 (increment). Instead, they prefer to rate at integer value, as shown by the sudden drop in count every 0.5. We will address this user bias later using mean-centering.

***
<h2 style="color:#E50914">Dimensionality Reduction</h2>

***

We applied SVD to reduce the dimensions at `80% variance` from `611 components`. So we only need `160 (74% reduction)`. The first cluster results in it being able to group each user depending on the density of their reviews. We analyzed, and `k=4` is the best cluster. Interestingly, the cluster members decrease as the number of average reviews increases. When we melted the table to look at how many reviews belong to each cluster, the distribution is quite balanced since each cluster has around 20k+ rows each, making it a good distribution that also makes sense on how it was grouped from lightweight up to the heavyweight type of reviewers. The result of this matrix can be helpful if we want to get a rating for movies. We might push it more to the ones who actively give a rating. It would be beneficial to look deeper at the extremes for people who rarely rate since they may have rated a movie high because it's really good or very low. If it's pretty bad, they spent time rating it out of potentially their emotions.

In [12]:
df_zero_fill = df_utility.fillna(0)
svd = TruncatedSVD(n_components=df_zero_fill.shape[1], random_state=214)
svd.fit_transform(df_zero_fill)
var_exp_cumsum = svd.explained_variance_ratio_.cumsum()
n_sv = np.argmax(var_exp_cumsum >= 0.8) + 1

In [13]:
print(f"The minimum number of SVs to get at least 80% of explained variance"
      f" is {n_sv}.")
fig, ax = plt.subplots(figsize=(10, 6))
ax.plot(range(1, len(var_exp_cumsum)+1), var_exp_cumsum, '-',
        label='cumulative', color='#B81D24')
ax.set_ylim(0, 1)
ax.axvline(n_sv, ls='--', color='#7B7C7C')
ax.axhline(var_exp_cumsum[n_sv-1], ls='--', color='#7B7C7C')
ax.set_title('Dimensionality Reduction on Utility Matrix')
ax.set_xlabel('SV')
ax.set_ylabel('variance explained')

# Save the plot as a PNG file
plt.savefig("SVD_Variance_Explained.png")

# Create an HTML img tag to display the image
img_tag = (f'<img src="SVD_Variance_Explained.png" alt="plots" style="display'
           f':block;margin-left:auto;margin-right:auto;width:60%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('Dimensionality Reduction on Utility Matrix', '')

The minimum number of SVs to get at least 80% of explained variance is 160.

In [14]:
svd = TruncatedSVD(n_components=n_sv, random_state=214)
df_svd = svd.fit_transform(df_zero_fill)

fig, ax = plt.subplots(figsize=(10, 8))
plt.scatter(df_svd[:, 0], df_svd[:, 1], alpha=0.6, color='#B81D24')
plt.xlabel('SV1')
plt.ylabel('SV2')
plt.title('Plot of SV1 and SV2 of Utility Matrix')

# Save the plot as a PNG file
plt.savefig("SV_Plot.png")

# Create an HTML img tag to display the image
img_tag = (f'<img src="SV_Plot.png" alt="plots" style="display'
           f':block;margin-left:auto;margin-right:auto;width:60%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('Plot of SV1 and SV2 of Utility Matrix', '')

<h1 style="background-color:#B81D24; color:#F5F5F1; padding: 20px;">Results and Discussion</h1>

***
<h2 style="color:#E50914">Clustering</h2>

***

In [15]:
def cd(df_utility, k, tol):
    """
    Accepts the utility matrix and number of latent factors k
    then returns the ùêÖùë¢ùë†ùëíùëü and ùêπùëñùë°ùëíùëö matrices. Stop when the improvement in
    SSE (percent change) is less than the given tolerance ùë°ùëúùëô.
    """
    U, V = np.ones((df_utility.shape[0], k)), np.ones((df_utility.shape[1],
                                                       k))
    M = df_utility.to_numpy()
    sse_0 = np.nansum((M - U@V.T)**2)

    while True:
        for user in range(U.shape[0]):
            for factor in range(U.shape[1]):
                r_exist = np.where(~np.isnan(M[user, :]))[0]
                num = 0
                den = 0
                for s in r_exist:
                    v_sj = V[s, factor]
                    r_is = M[user, s]
                    t = np.where(np.arange(k) != factor)
                    t_sum = U[user, t] @ V[s, t].T
                    num += v_sj * (r_is - t_sum)
                    den += v_sj**2
                U[user, factor] = num / den

        for item in range(V.shape[0]):
            for factor in range(V.shape[1]):
                r_exist = np.where(~np.isnan(M[:, item]))[0]
                num = 0
                den = 0
                for s in r_exist:
                    u_sj = U[s, factor]
                    r_si = M[s, item]
                    t = np.where(np.arange(k) != factor)
                    t_sum = U[s, t] @ V[item, t].T
                    num += u_sj * (r_si - t_sum)
                    den += u_sj**2
                V[item, factor] = num / den

        sse = np.nansum((M - U@V.T)**2)
        change = (sse - sse_0) / sse_0

        if np.abs(change) < tol:
            return U, V
        else:
            sse_0 = sse

    return U, V


def recommend_cd(user, df_utility, f_user, f_item, N):
    """This returns the recommended items for the passed user and its 
    non-rated items im the df_utility matrix. We then reconstruct the matrix
    with the predicted ratings with the dot product of f_user and f_item. 
    This returns N number of items sorted from highest to lowest rating of
    the items if value is similar the priority would be lowest to highest of
    the item/joke id. Code is similar to #2.
    """
    df_completed = pd.DataFrame(np.matmul(f_user, f_item.T),
                                columns=df_utility.columns,
                                index=df_utility.index)
    df = pd.concat([df_utility.loc[user], df_completed.loc[user]],
                   axis=1).T.reset_index(drop=True)
    df = df[df.columns[df.isna().any()]]
    reco = df.loc[1].sort_values(ascending=False)[:N].index.to_list()

    return reco

In [16]:
# We only did this to have completed matrix for clustering
f_user_cgd, f_item_cgd = cd(df_utility, 30, 0.01)

top_10_cf_cgd_475 = recommend_cd(475, df_utility, f_user_cgd, f_item_cgd, 10)
top_10_cf_cgd_387 = recommend_cd(387, df_utility, f_user_cgd, f_item_cgd, 10)
top_10_cf_cgd_49 = recommend_cd(49, df_utility, f_user_cgd, f_item_cgd, 10)

lf_cgd_recos = [top_10_cf_cgd_475, top_10_cf_cgd_387, top_10_cf_cgd_49]
df_lf_cgd = pd.DataFrame(f_user_cgd@f_item_cgd.T, index=df_utility.index,
                         columns=df_utility.columns)

<h3 style="color:#221F1F">Hierarchical Clustering</h3>

***

We will try the following hierarchical clustering method to determine the best method: Single-Linkage, Complete Linkage, Average-Linkage, Ward Method.

In [17]:
def plot_dendrogram(model, **kwargs):
    """Create linkage matrix and then plot the dendrogram
       create the counts of samples under each node
    """
    counts = np.zeros(model.children_.shape[0])
    n_samples = len(model.labels_)
    for i, merge in enumerate(model.children_):
        current_count = 0
        for child_idx in merge:
            if child_idx < n_samples:
                current_count += 1  # leaf node
            else:
                current_count += counts[child_idx - n_samples]
        counts[i] = current_count

    linkage_matrix = np.column_stack(
        [model.children_, model.distances_, counts]
    ).astype(float)

    # Plot the corresponding dendrogram
    dendrogram(linkage_matrix, **kwargs)

<h4 style="color:#7B7C7C">Single Linkage</h4>

***

In [18]:
# Perform agglomerative clustering single linkage with 0 threshold
agg = AgglomerativeClustering(n_clusters=None, linkage='single',
                              distance_threshold=0)
Z = agg.fit(df_svd)

# Plot the Z output for the fitted data
plot_dendrogram(Z, truncate_mode="level", p=5)

# Save the plot as a PNG file
plt.savefig("Single_Dendo.png")

# Create an HTML img tag to display the image
img_tag = (f'<img src="Single_Dendo.png" alt="plots" style="display'
           f':block;margin-left:auto;margin-right:auto;width:50%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('Single-Linkage Dendogram', '')

In [19]:
# Perform AgglomerativeClustering based on dendogram gap = 2
agg = AgglomerativeClustering(n_clusters=2, linkage='single')
y_predict = agg.fit_predict(df_svd)
plt.scatter(df_svd[:, 0], df_svd[:, 1], c=y_predict)
plt.xlabel('SV1')
plt.ylabel('SV2')
plt.title('Single-Linkage Clustering')

# Save the plot as a PNG file
plt.savefig("Single_Clustering.png")

# Create an HTML img tag to display the image
img_tag = (f'<img src="Single_Clustering.png" alt="plots" style="display'
           f':block;margin-left:auto;margin-right:auto;width:50%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('Single-Linkage Clustering', '')

<h4 style="color:#7B7C7C">Complete Linkage</h4>

***

In [20]:
# Perform agglomerative clustering single linkage with 0 threshold
agg = AgglomerativeClustering(n_clusters=None, linkage='complete',
                              distance_threshold=0)
Z = agg.fit(df_svd)

# Plot the Z output for the fitted data
plot_dendrogram(Z, truncate_mode="level", p=5)

# Save the plot as a PNG file
plt.savefig("Complete_Dendo.png")

# Create an HTML img tag to display the image
img_tag = (f'<img src="Complete_Dendo.png" alt="plots" style="display'
           f':block;margin-left:auto;margin-right:auto;width:50%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('Complete-Linkage Dendogram', '')

In [21]:
# Perform AgglomerativeClustering based on dendogram gap = 3
agg = AgglomerativeClustering(n_clusters=3, linkage='complete')
y_predict = agg.fit_predict(df_svd)
plt.scatter(df_svd[:, 0], df_svd[:, 1], c=y_predict)
plt.xlabel('SV1')
plt.ylabel('SV2')
plt.title('Complete-Linkage Clustering')

# Save the plot as a PNG file
plt.savefig("Complete_Clustering.png")

# Create an HTML img tag to display the image
img_tag = (f'<img src="Complete_Clustering.png" alt="plots" style="display'
           f':block;margin-left:auto;margin-right:auto;width:50%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('Complete-Linkage Clustering', '')

<h4 style="color:#7B7C7C">Average Linkage</h4>

***

In [22]:
# Perform agglomerative clustering single linkage with 0 threshold
agg = AgglomerativeClustering(n_clusters=None, linkage='average',
                              distance_threshold=0)
Z = agg.fit(df_svd)

# Plot the Z output for the fitted data
plot_dendrogram(Z, truncate_mode="level", p=5)

# Save the plot as a PNG file
plt.savefig("Average_Dendo.png")

# Create an HTML img tag to display the image
img_tag = (f'<img src="Average_Dendo.png" alt="plots" style="display'
           f':block;margin-left:auto;margin-right:auto;width:50%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('Average-Linkage Dendogram', '')

In [23]:
# Perform AgglomerativeClustering based on dendogram gap = 2
agg = AgglomerativeClustering(n_clusters=2, linkage='average')
y_predict = agg.fit_predict(df_svd)
plt.scatter(df_svd[:, 0], df_svd[:, 1], c=y_predict)
plt.xlabel('SV1')
plt.ylabel('SV2')
plt.title('Average-Linkage Clustering')

# Save the plot as a PNG file
plt.savefig("Average_Clustering.png")

# Create an HTML img tag to display the image
img_tag = (f'<img src="Average_Clustering.png" alt="plots" style="display'
           f':block;margin-left:auto;margin-right:auto;width:50%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('Average-Linkage Clustering', '')

<h4 style="color:#7B7C7C">Ward Method</h4>

***

In [24]:
# Perform agglomerative clustering single linkage with 0 threshold
agg = AgglomerativeClustering(n_clusters=None, linkage='ward',
                              distance_threshold=0)
Z = agg.fit(df_svd)

# Plot the Z output for the fitted data
plot_dendrogram(Z, truncate_mode="level", p=5)

# Save the plot as a PNG file
plt.savefig("Ward_Dendo.png")

# Create an HTML img tag to display the image
img_tag = (f'<img src="Ward_Dendo.png" alt="plots" style="display'
           f':block;margin-left:auto;margin-right:auto;width:50%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('Ward Method Dendogram', '')

In [25]:
# Perform AgglomerativeClustering based on dendogram gap = 2
agg = AgglomerativeClustering(n_clusters=2, linkage='ward')
y_predict = agg.fit_predict(df_svd)
plt.scatter(df_svd[:, 0], df_svd[:, 1], c=y_predict)
plt.xlabel('SV1')
plt.ylabel('SV2')
plt.title('Ward Method Clustering')

# Save the plot as a PNG file
plt.savefig("Ward_Clustering.png")

# Create an HTML img tag to display the image
img_tag = (f'<img src="Ward_Clustering.png" alt="plots" style="display'
           f':block;margin-left:auto;margin-right:auto;width:50%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('Ward Method Clustering', '')

**Hierarchical Clustering** is not suitable for the dataset. The clustering produce are not useful for the recommender system.

<h3 style="color:#221F1F">Density-based Clustering</h3>

***

We will try the following density-based clustering method to determine the best method: Density-Based Spatial Clustering of Applications with Noise (DBSCAN), and  Ordering Points to Identify the Clustering Structure (OPTICS).

<h4 style="color:#7B7C7C">Density-Based Spatial Clustering of Applications with Noise (DBSCAN)</h4>

***

In [26]:
def ave_nn_dist(n_neighbors, data):
    """Accepts the `n_neighbors` to consider and the `data` then returns the
    average distance of a point to its  ùëò=1 nearest neighbor up to
    ùëò=ùëõ_ùëõùëíùëñùëî‚Ñéùëèùëúùëüùë† nearest neighbor as a sorted list."""
    from sklearn.neighbors import NearestNeighbors
    nn = NearestNeighbors(n_neighbors=n_neighbors).fit(data)
    dists = list(np.sort(nn.kneighbors()[0].mean(axis=1)))

    return dists

In [27]:
ndim = int(np.sqrt(df_svd.shape[1]))
plt.plot(ave_nn_dist(ndim, df_svd))
plt.axhline(y=80, color='r', linestyle='--')
plt.xlabel('point')
plt.ylabel('distance')
plt.title('Average Neighborhood Points Distance')

# Save the plot as a PNG file
plt.savefig("Ave_NN_dist.png")

# Create an HTML img tag to display the image
img_tag = (f'<img src="Ave_NN_dist.png" alt="plots" style="display'
           f':block;margin-left:auto;margin-right:auto;width:50%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('Average Neighborhood Points Distance', '')

In [28]:
dbscan = DBSCAN(eps=80, min_samples=10)
cluster_labels = dbscan.fit_predict(df_svd)
plt.scatter(df_svd[:, 0], df_svd[:, 1], c=cluster_labels)
plt.xlabel('SV1')
plt.ylabel('SV2')
plt.title('DBSCAN Clustering')

print('Number of clusters:', cluster_labels.max()+1)
print('Number of noise points:', (cluster_labels == -1).sum())
print('Number of points:', len(cluster_labels))

# Save the plot as a PNG file
plt.savefig("DBSCAN_Clustering.png")

# Create an HTML img tag to display the image
img_tag = (f'<img src="DBSCAN_Clustering.png" alt="plots" style="display'
           f':block;margin-left:auto;margin-right:auto;width:50%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('DBSCAN Clustering', '')

Number of clusters: 1
Number of noise points: 28
Number of points: 610

<h4 style="color:#7B7C7C">Ordering Points to Identify the Clustering Structure (OPTICS)</h4>

***

In [29]:
optics = OPTICS(min_samples=5)
optics.fit(df_svd)
plt.plot(optics.reachability_[optics.ordering_])
plt.axhline(y=37, color='r', linestyle='--')
plt.ylabel('reachability')
plt.title('Reachability Plot')

# Save the plot as a PNG file
plt.savefig("Reachability_Plot.png")

# Create an HTML img tag to display the image
img_tag = (f'<img src="Reachability_Plot.png" alt="plots" style="display'
           f':block;margin-left:auto;margin-right:auto;width:50%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('Reachability Plot', '')

In [30]:
cluster_labels = cluster_optics_dbscan(
    reachability=optics.reachability_,
    core_distances=optics.core_distances_,
    ordering=optics.ordering_,
    eps=80
)
plt.scatter(df_svd[:, 0], df_svd[:, 1], c=cluster_labels)
plt.xlabel('SV1')
plt.ylabel('SV2')
plt.title('OPTICS Clustering')

print('Number of clusters:', cluster_labels.max()+1)
print('Number of noise points:', (cluster_labels == -1).sum())
print('Number of points:', len(cluster_labels))

# Save the plot as a PNG file
plt.savefig("OPTICS_Clustering.png")

# Create an HTML img tag to display the image
img_tag = (f'<img src="OPTICS_Clustering.png" alt="plots" style="display'
           f':block;margin-left:auto;margin-right:auto;width:50%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('OPTICS Clustering', '')

Number of clusters: 1
Number of noise points: 28
Number of points: 610

**Density-based Clustering** is not suitable for the dataset. The clustering produce are not useful for the recommender system.

<h3 style="color:#221F1F">Representative Clustering</h3>

***

We will first look into our clustering to analyze the results. We were able to identify two clustering approaches by utilizing two matrices. The first matrix is the original data set pivoted into the User-Movie Rating matrix, and the second was the completed matrix from the Collaborative Filtering-Coordinated Gradient Descent. Both results utilized K-Means as the best algorithm based on the internal validation tests and the quality of its output from the graphs.

In [31]:
def cluster_range(X, clusterer, k_start, k_stop):
    """ Function captures the cluster labels, cluster centers, internal 
    validation for the given clusterer. This will be computed 
    across each K based from start to stop and returns the lists in a 
    dictionary.
    """
    ys = []
    centers = []
    inertias = []
    chs = []
    scs = []
    dbs = []
    for k in tqdm(range(k_start, k_stop+1)):
        clusterer_k = clone(clusterer)
        clusterer_k.n_clusters = k
        clusterer_k.fit(X)
        y = clusterer_k.labels_
        ys.append(y)
        chs.append(calinski_harabasz_score(X, y))
        scs.append(silhouette_score(X, y, random_state=1337))
        dbs.append(davies_bouldin_score(X, y))
        centers.append(clusterer_k.cluster_centers_)
        inertias.append(clusterer_k.inertia_)

    ret_dict = {'ys': ys, 'centers': centers, 'inertias': inertias,
                'chs': chs, 'scs': scs, 'dbs': dbs}

    return ret_dict


def plot_clusters(X_, ys, centers):
    """Plot clusters given the design matrix and cluster labels"""
    k_max = len(ys) + 1
    k_mid = k_max//2 + 2
    fig, ax = plt.subplots(2, k_max//2, dpi=150, sharex=True, sharey=True,
                           figsize=(10, 4), subplot_kw=dict(aspect='equal'),
                           gridspec_kw=dict(wspace=0.01))

    for k, y_, cs in zip(range(2, k_max+1), ys, centers):

        if k < k_mid:
            ax[0][k % k_mid-2].scatter(*zip(*X_), c=y_, s=1, alpha=0.8)
            ax[0][k % k_mid-2].scatter(
                cs[:, 0],
                cs[:, 1],
                s=10,
                c=range(int(max(y_)) + 1),
                marker='s',
                ec='k',
                lw=1
            )
            ax[0][k % k_mid-2].set_title('$k=%d$' % k)
        else:
            ax[1][k % k_mid].scatter(*zip(*X_), c=y_, s=1, alpha=0.8)
            ax[1][k % k_mid].scatter(
                cs[:, 0],
                cs[:, 1],
                s=10,
                c=range(int(max(y_))+1),
                marker='s',
                ec='k',
                lw=1
            )
            ax[1][k % k_mid].set_title('$k=%d$' % k)

    return ax


def plot_internal(inertias, chs, scs, dbs):
    """Plot internal validation values"""
    fig, ax = plt.subplots()
    ks = np.arange(2, len(inertias)+2)
    ax.plot(ks, inertias, '-o', label='SSE')
    ax.plot(ks, chs, '-ro', label='CH')
    ax.set_xlabel('$k$')
#     ax.set_ylabel('SSE/CH')
    lines, labels = ax.get_legend_handles_labels()
    ax2 = ax.twinx()
    ax2.plot(ks, scs, '-ko', label='Silhouette coefficient')
    ax2.plot(ks, dbs, '-gs', label='DB')
    ax2.set_ylabel('Silhouette/DB')
    lines2, labels2 = ax2.get_legend_handles_labels()
    ax2.legend(lines+lines2, labels+labels2)

    return ax

In [32]:
res = cluster_range(df_svd, KMeans(random_state=214), 2, 11)

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 10/10 [00:10<00:00,  1.04s/it]

In [33]:
plot_clusters(df_svd[:, :2], res['ys'], res['centers'])

# Save the plot as a PNG file
plt.savefig("Clustering_GridSearch_Plot.png")

# Create an HTML img tag to display the image
img_tag = (f'<img src="Clustering_GridSearch_Plot.png" alt="plots" '
           f'style="display:block;margin-left:auto;'
           f'margin-right:auto;width:100%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('Clustering of users by K-Means (k=2 to k=11)', '')

In [34]:
#Plot internal validation scores
plot_internal(res['inertias'], res['chs'], 
              res['scs'], res['dbs'])
plt.title('Internal Validation Scores for Movie Lens')

# Save the plot as a PNG file
plt.savefig("Clustering_InternalValidation_Plot.jpg")

# Create an HTML img tag to display the image
img_tag = (f'<img src="Clustering_InternalValidation_Plot.jpg" alt="plots"'
           f'style="display:block;margin-left:auto;margin-right:auto;'
           f'width:50%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('Internal Validation of K-Means Clustering (k=2 to k=11)', '')

In [35]:
fig, ax = plt.subplots(figsize=(8, 8))
km = KMeans(4, random_state=214)
cluster_labels = km.fit_predict(df_svd)
plt.scatter(df_svd[:, 0], df_svd[:, 1], c=cluster_labels, alpha=0.6)
plt.xlabel('SV1')
plt.ylabel('SV2')
plt.title('K-Means Clustering at k=4')

# Save the plot as a PNG file
plt.savefig("Final_Clustering2_Plot.png")

# Create an HTML img tag to display the image
img_tag = (f'<img src="Final_Clustering_Plot.png" alt="plots" style="display'
           f':block;margin-left:auto;margin-right:auto;width:70%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('K-Means Clustering at k=4', '')

**K-Means** is suitable for the dataset we will use the results of this clustering moving forward.

We also applied genres in both matrices; however, it did not impact the clustering given that we have 9724 columns defining each movie and only 20 columns for the genre, and the weight did not affect it. We also did a summation for each genre for each movie to give more weight to it.

We applied the same K-Means Clustering to the completed matrix of CGD.

In [36]:
df_lf_cgd = f_user_cgd@f_item_cgd.T
svd = TruncatedSVD(n_components=df_lf_cgd.shape[1], random_state=214)
X = RobustScaler().fit_transform(df_lf_cgd)
X = np.where(np.isnan(X), 0, X)
X_new = svd.fit_transform(X)

fig, ax = plt.subplots(figsize=(8, 8))
km = KMeans(5, random_state=214)
cluster_labels = km.fit_predict(X_new)
plt.scatter(X_new[:, 0], X_new[:, 1], c=cluster_labels, alpha=0.6)
plt.xlabel('SV1')
plt.ylabel('SV2')
plt.title('K-Means cluster for the Completed Matrix at k=5')

# Save the plot as a PNG file
plt.savefig("CGD_Clustering_Plot.png")

# Create an HTML img tag to display the image
img_tag = (f'<img src="CGD_Clustering_Plot.png" alt="plots" style="display'
           f':block;margin-left:auto;margin-right:auto;width:70%;">')

# Display the img tag in the Jupyter Notebook
display(HTML(img_tag))
plt.close()
fig_caption('K-Means cluster for the Completed Matrix at k=5', '')

The second cluster result was the output of CGD, where we combined the user and movie matrix to get our User-Movie Rating matrix, where we assigned a 1% minimum change before it converges. We applied SVD to reduce the dimensions, and the results were surprising. We got almost 100% on just the first component. Given this, to project the data, we need a 99.97% reduction of two components. The clustering was able to group the users into different types of raters, where it rated movies on average between 2.56 to 4.22 on five different clusters. The distribution is also skewed towards the left side since the mean rating of the whole matrix is 3.43. The results can be maximized by studying the movies they watch and why they are always rated high or low. Are the recommendations with them really bad, or it's just their behavior and later on considering adding weight to these types of reviewers as this may affect collaborative filtering results. 
 
We also applied genres in both matrices; however, it did not impact the clustering given that we have 9724 columns defining each movie and only 20 columns for the genre, and the weight did not affect it. We also did a summation for each genre for each movie to give more weight to it.

***
<h2 style="color:#E50914">Frequent Itemset Mining</h2>

***

We will use the pyFIM library for FIM to return the frequent itemsets, specifically the FPGrowth algorithm. 
The team used the following parameters: `target='s'`, `zmin=2`, `supp=5`, `report='a'`. Here we want the top three frequent itemsets with at least two genres, a minimum relative support of 5%, and we set it to return the absolute support. The following are the results. Included are the top 3 rated movies in each identified genre pair.

In [37]:
df_fim = data.groupby('movieId').agg({'rating': ['mean', 'count'],
                                      'genres': 'first', 'title': 'first'})
df_fim.columns = df_fim.columns.droplevel(0)
df_fim.columns = ['mean', 'count', 'genres', 'title']
user_mean_rating = df_rating.mean()


df_ohe = (df_fim[(df_fim['count'] >= user_lim)
                 & (df_fim['mean'] >= user_mean_rating.tolist()[0])]['genres']
          .str.get_dummies('|'))
df_fim = pd.concat([df_fim, df_ohe], axis=1)
db = df_ohe.apply(lambda x: set(x.index[x == 1]), axis=1)
db_list = db.to_list()

<h3 style="color:#221F1F">Frequent Genre Pair</h3>

***

In [38]:
freq_item = fim.fpgrowth(db_list, target='s', zmin=2, supp=5, report='a')
freq_item = sorted(freq_item, key=lambda x: (-x[1], sorted(x[0])))[:3]
print("Top 3 Frequent Genre Pair with Highest Absolute support:")
display(freq_item)

Top 3 Frequent Genre Pair with Highest Absolute support:

[(('Adventure', 'Action'), 29),
 (('Crime', 'Drama'), 25),
 (('Crime', 'Thriller'), 24)]

**Let see what are the top rated movies for these genre pair**

In [39]:
for fi in freq_item[:3]:
    print(f"Top 3 Rated Movies in ({fi[0][0]}, {fi[0][1]}) Genre.")
    display(df_fim[(df_fim[fi[0][0]] == 1) & ((df_fim[fi[0][1]] == 1))]
            [['mean', 'title']].sort_values(by='mean', ascending=False)[:3])
    print("\n\n")

Top 3 Rated Movies in (Adventure, Action) Genre.

             mean                                                  title
movieId
1196     4.244292  Star Wars: Episode V - The Empire Strikes Back (1980)
260      4.244275              Star Wars: Episode IV - A New Hope (1977)
1197     4.234266                             Princess Bride, The (1987)

Top 3 Rated Movies in (Crime, Drama) Genre.

             mean                             title
movieId
296      4.487603               Pulp Fiction (1994)
318      4.432602  Shawshank Redemption, The (1994)
2959     4.402985                 Fight Club (1999)

Top 3 Rated Movies in (Crime, Thriller) Genre.

             mean                 title
movieId
296      4.487603   Pulp Fiction (1994)
2959     4.402985     Fight Club (1999)
48516    4.254386  Departed, The (2006)

<h3 style="color:#221F1F">High Lift Antecedent-Consequent Genre Pair</h3>

***

Next, the team used the following parameters: `target=‚Äôr'`, `zmin=1`, `supp=-10`, `report=‚ÄôaLC'`. Here we want the top three association rules with at least one antecedent genre to have an absolute minimum support of 10. So we set it to return the absolute support, fractional lift, and fractional confidence value. The following are the results. Included are the top three rated movies in each identified antecedent-consequent genre.

In [40]:
rules = fim.fpgrowth(db_list, target='r', zmin=1, supp=-10, report='aLC')
rules = [r for r in rules if len(r[1]) <= 1]
rules = sorted(rules, key=lambda x: (-x[3], -x[4]))[:10]
print("Top 3 Single-item Antecedent-Consequent Association "
      "Rule with Highest Lift:")
display(rules)

Top 3 Single-item Antecedent-Consequent Association Rule with Highest Lift:

[('Children', ('Animation',), 12, 927.7310924369749, 85.71428571428571),
 ('Thriller', ('Mystery',), 16, 303.8183694530444, 84.21052631578947),
 ('Drama', ('War',), 10, 199.13419913419915, 90.9090909090909)]

**Let see what are the top rated movies for these association rules**

In [41]:
for r in rules[:3]:
    print(f"Top 3 Rated Movies in ({r[0]}, {r[1][0]}) Genre.")
    display(df_fim[(df_fim[r[0]] == 1) & ((df_fim[r[1][0]] == 1))]
            [['mean', 'title']].sort_values(by='mean', ascending=False)[:3])
    print("\n\n")

Top 3 Rated Movies in (Children, Animation) Genre.

             mean                title
movieId
60069    4.084112        WALL¬∑E (2008)
68954    3.978448            Up (2009)
6377     3.961268  Finding Nemo (2003)

Top 3 Rated Movies in (Thriller, Mystery) Genre.

             mean                       title
movieId
50       4.252404  Usual Suspects, The (1995)
904      4.227273          Rear Window (1954)
1089     4.179856       Reservoir Dogs (1992)

Top 3 Rated Movies in (Drama, War) Genre.

             mean                    title
movieId
1208     4.219626    Apocalypse Now (1979)
527      4.181614  Schindler's List (1993)
356      4.155224      Forrest Gump (1994)

The team suggests this to movie genres to movie producers as these are the most likely genre combinations that users will review highly.

***
<h2 style="color:#E50914">Recommender System</h2>

***

For the study, we utilized three users from 3 different clusters: Almond the Chill Viewer (23 Reviews), Martin the Avid Rater (155 Reviews), and Paolo the Movie Maniac (1027 Reviews). We can use the profile we defined above from the earlier results. We want to focus directly on the users and utilize `DCG` and `NDCG` to check the quality of the results. All algorithms discussed in the class were applied, giving out the top 10 recommended movies. For all three users and the qualitative results will be discussed for each. We used `k=30` for users (`5%`) and movies (`3% for 1000`) for this exercise.

In [42]:
users = [475, 387, 49]

In [43]:
def dcg(df_utility, recos):
    """Function returns the total calculated DCG based on the recos rating 
    from the df_utility values. Returns the float value.
    """
    dcg = []

    for k, i in enumerate(df_utility.index):
        dcg_ = df_utility.loc[i, recos[k]]
        dcg.append((np.sum((2**dcg_ /
                            np.log2(np.arange(2, len(dcg_)+2))))))
#         dcg.append((np.sum((2**df_utility.loc[i, recos[k]] /
#                         np.log2(np.arange(2, len(recos[k])+2))))))
    return np.mean(dcg)


def ndcg(df_utility, recos):
    """Function returns the total calculated NDCG based on the recos for DCG 
    and ranking all rating for IDCG for each user then rank and get similar 
    length of values against the recos from the df_utility values. Returns 
    the float value if NDCG
    """

    dcg, idcg = 0, 0
    d = 0

    for k, i in enumerate(df_utility.index):
        dcg_non_2 = -np.sort(
            -df_utility.iloc[
                df_utility.index.get_loc(i),
                np.where(~np.isnan(df_utility.loc[i]))[0]])[:len(recos[k])]
        dcg += (np.sum((2**df_utility.loc[i, recos[k]] /
                        np.log2(np.arange(2, len(recos[k])+2)))))

        idcg += (np.sum((2**(dcg_non_2) /
                        np.log2(np.arange(2, len(dcg_non_2)+2)))))

    d = dcg / idcg
    return d

<h3 style="color:#221F1F">Neighborhood-based Collaborative Filtering</h3>

***

<h4 style="color:#7B7C7C">User-based</h4>

***

The team used User-based Collaborative Filtering for the recommender system.

In [44]:
def user_recommend(user, df_utility):
    """Do user-based neighborhood-based collaborative filtering."""
    df_mean_center = (df_utility -
                      df_utility.mean(axis=1, skipna=True)
                      .to_numpy().reshape(len(df_utility), 1))

    df_mean = df_utility.mean(axis=1, skipna=True)
    cols_ = df_utility.loc[user]
    cols_u = set(cols_[~np.isnan(cols_)].index)
    df_copy = df_utility.copy()
    top_k = []

    for i in range(len(df_mean_center)):
        cols = df_mean_center.iloc[i]
        if user != cols.name:
            cols_i = set(cols[~np.isnan(cols)].index)
            cols_ins = list(cols_i.intersection(cols_u))
            if len(cols_ins) > 0:
                cos = cosine(df_mean_center.loc[cols.name, cols_ins],
                             df_mean_center.loc[user, cols_ins])
                top_k.append([cols.name, cos])

    top = sorted(top_k, key=lambda x: (x[1], x[0]))[:30]
    top_ind = list(zip(*top))[0]
    user_df = df_utility.loc[user]
    unrated = user_df[np.isnan(user_df)].index

    for i in unrated:
        total_ = 0
        sub_total_n = 0
        sub_total_d = 0
        if (np.isnan(df_mean_center
                     .loc[top_ind, [i]].values).sum() != 31):
            for key, val in enumerate(df_mean_center
                                      .loc[top_ind, [i]].values):
                if np.isnan(val) == False:
                    sub_total_n += ((1 - top[key][1]) * val)[0]
                    sub_total_d += ((1 - top[key][1]))

        if sub_total_d != 0 and sub_total_n != 0:
            total_ = df_mean.loc[user] + (sub_total_n / sub_total_d)
        else:
            total_ = np.nan

        if total_ is not np.nan:
            df_copy.loc[user, [i]] = total_

    index = np.isnan(df_utility.loc[user]).index

    cols_nan = set(unrated).intersection((df_copy.columns))

    top_10 = (df_copy.loc[user, cols_nan].to_frame()
                                         .sort_values([user, 'movieId'],
                                                      ascending=[False, True])
                                         .index[:10])

    return top_10, df_copy.loc[[user]]

In [45]:
user_based_recos = []
for idx, user in enumerate(users):
    user_based_reco, df_fill = user_recommend(user, df_utility)
    user_based_recos.append(user_based_reco)
    if idx == 0:
        df_user_based = df_fill.copy()
    else:
        df_user_based = pd.concat([df_user_based, df_fill], axis=0)

In [46]:
for idx in range(3):
    print(f"The top 10 recommended movies for User {users[idx]} "
          f"are the following:")
    display(df_title.loc[user_based_recos[idx]])
    print("\n\n")

The top 10 recommended movies for User 475 are the following:

,title,genres
movieId,,
2542,"Lock, Stock & Two Smoking Barrels (1998)",Comedy|Crime|Thriller
3275,"Boondock Saints, The (2000)",Action|Crime|Drama|Thriller
27831,Layer Cake (2004),Crime|Drama|Thriller
4011,Snatch (2000),Comedy|Crime|Thriller
1204,Lawrence of Arabia (1962),Adventure|Drama|War
3471,Close Encounters of the Third Kind (1977),Adventure|Drama|Sci-Fi
3543,Diner (1982),Comedy|Drama
2997,Being John Malkovich (1999),Comedy|Drama|Fantasy
750,Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964),Comedy|War
922,Sunset Blvd. (a.k.a. Sunset Boulevard) (1950),Drama|Film-Noir|Romance

The top 10 recommended movies for User 387 are the following:

,title,genres
movieId,,
1203,12 Angry Men (1957),Drama
174053,Black Mirror: White Christmas (2014),Drama|Horror|Mystery|Sci-Fi|Thriller
177593,"Three Billboards Outside Ebbing, Missouri (2017)",Crime|Drama
350,"Client, The (1994)",Drama|Mystery|Thriller
3972,"Legend of Drunken Master, The (Jui kuen II) (1994)",Action|Comedy
1616,"Peacemaker, The (1997)",Action|Thriller|War
1620,Kiss the Girls (1997),Crime|Drama|Mystery|Thriller
1687,"Jackal, The (1997)",Action|Thriller
1711,Midnight in the Garden of Good and Evil (1997),Crime|Drama|Mystery
1754,Fallen (1998),Crime|Drama|Fantasy|Thriller

The top 10 recommended movies for User 49 are the following:

,title,genres
movieId,,
968,Night of the Living Dead (1968),Horror|Sci-Fi|Thriller
1327,"Amityville Horror, The (1979)",Drama|Horror|Mystery|Thriller
1407,Scream (1996),Comedy|Horror|Mystery|Thriller
1924,Plan 9 from Outer Space (1959),Horror|Sci-Fi
2513,Pet Sematary (1989),Horror
2867,Fright Night (1985),Comedy|Horror|Thriller
3072,Moonstruck (1987),Comedy|Romance
2700,"South Park: Bigger, Longer and Uncut (1999)",Animation|Comedy|Musical
1292,Being There (1979),Comedy|Drama
4789,Phantom of the Paradise (1974),Comedy|Fantasy|Horror|Musical|Thriller

In [47]:
print(f"The DCG of User-based Collaborative Filtering Recommender System is :"
      f" {dcg(df_user_based, user_based_recos):.4f}" )
print(f"The NDCG of User-based Collaborative Filtering Recommender System is:"
      f" {ndcg(df_user_based, user_based_recos):.4f}")

The DCG of User-based Collaborative Filtering Recommender System is : 334.3870
The NDCG of User-based Collaborative Filtering Recommender System is: 0.9952

The results of the user-based algorithm reflected most of the movies geared towards the top genre, which are Drama, Thriller, and Comedy, given that similar users have most likely rated these types of movies. We can see the moves for each user where 70-100% of the movies have this genre recommended. Their top genres are still considered, but this is still dependent on their neighbors. We can see other genres don't have recommendations in the top 10 and prioritize other highly rated movies along with how old they are given the order of the ids.

<h4 style="color:#7B7C7C">Item-based</h4>

***

The team used Item-based Collaborative Filtering for the recommender system.

In [48]:
def item_recommend(user, df_utility):
    """Do Item-based Neighborhood-based Collaborative Filtering."""
    df_utility = df_utility.iloc[:, 2000:3000]
    df_mean_center = (df_utility -
                      df_utility.mean(axis=1, skipna=True)
                      .to_numpy().reshape(len(df_utility), 1)).T

    df_mean = df_utility.mean(axis=1, skipna=True)
    df_copy = df_utility.copy().T

    for i in tqdm(range(len(df_mean_center))):

        df_i = df_mean_center.iloc[i]

        if np.isnan(df_utility.loc[user, df_i.name]):
            col_i = set(df_i[~np.isnan(df_i)].index)
            top_k = []
            for j in range(len(df_mean_center)):
                if i != j:
                    df_j = df_mean_center.iloc[j]
                    col_j = set(df_i[~np.isnan(df_j)].index)
                    col_ins = list(col_i.intersection(col_j))
                    if len(col_ins) > 0:

                        cos = cosine(df_mean_center.loc[df_i.name, col_ins],
                                     df_mean_center.loc[df_j.name, col_ins])

                        top_k.append([df_j.name, cos])

            top = sorted(top_k, key=lambda x: (x[1], x[0]))[:30]
            if len(top) > 0:

                top_ind = list(zip(*top))[0]
                total_ = 0
                sub_total_n = 0
                sub_total_d = 0
                is_nan = np.isnan(df_mean_center.loc[top_ind, [user]])
                if (is_nan.sum().values != 30):
                    for key, val in enumerate(df_mean_center
                                              .loc[top_ind, [user]].values):

                        if np.isnan(val) == False:
                            sub_total_n += ((1 - top[key][1]) * val)[0]
                            sub_total_d += ((1 - top[key][1]))

                    if sub_total_d != 0 and sub_total_n != 0:
                        total_ = df_mean.loc[user] + \
                            (sub_total_n / sub_total_d)
                    else:
                        total_ = np.nan

                    if total_ is not np.nan:
                        df_copy.loc[df_i.name, [user]] = total_

    df_out = df_copy.T
    index = np.isnan(df_utility.loc[user]).index
    cols_nan = set(index).intersection((df_out.columns))
    top_10 = (df_out.loc[user, cols_nan].to_frame()
              .sort_values([user, 'movieId'],
                           ascending=[False, True])
              .index[:10])

    return top_10, df_out.loc[user]

In [49]:
df_item_based = df_utility.iloc[:,2000:3000]

top_10_cf_item_475, df_cf_item_475 = item_recommend(475 , df_utility)
top_10_cf_item_387, df_cf_item_387 = item_recommend(387 , df_utility)
top_10_cf_item_49, df_cf_item_49 = item_recommend(49 , df_utility)
df_item_based.loc[475] = df_cf_item_475
df_item_based.loc[387] = df_cf_item_387
df_item_based.loc[49] = df_cf_item_49

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1000/1000 [11:55<00:00,  1.40it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1000/1000 [09:41<00:00,  1.72it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1000/1000 [12:10<00:00,  1.37it/s]

In [59]:
# Calculating for DCG and NCDG of item-based
dcg_item = dcg(df_item_based.loc[[475, 387]],
               [top_10_cf_item_475, top_10_cf_item_387])
ndcg_item = ndcg(df_item_based.loc[[475, 387]],
                 [top_10_cf_item_475, top_10_cf_item_387])

print(f"The DCG of Item-based Collaborative Filtering Recommender System is :"
      f" {dcg_item:.4f}" )
print(f"The NDCG of Item-based Collaborative Filtering Recommender System is:"
      f" {ndcg_item:.4f}")

The DCG of Item-based Collaborative Filtering Recommender System is : inf
The NDCG of Item-based Collaborative Filtering Recommender System is: nan

The item-based filter is based on 1000 movies for us to run it realistically. Running the whole itemset of 9724 movies for one user requires 16+ hrs to finish. In this scenario, it depends on the matching movies rated. This one has the lowest quality of recommendations given that there are not many ratings from their reviews except for Paolo, our most active reviewer, where it has the most qualitative recommendation. Martin got some recommendations; however, the scores are small. Since the reviews are limited along with the related items, the values are too small, causing the DCG/NDCG calculations to go to infinity/nan. Almond did not get any recommendations because Almond has reviewed no movies in this data, and it cannot rank any related items given this; hence the outcome is just sorted based on the movieid not relating to any preference. We also need to note that this reflects the cold start problem where the recommendations are not yet of good quality given that the information gathered was insufficient and may need to consider other algorithms.

<h3 style="color:#221F1F">Latent Factor-based Collaborative Filetering</h3>

***

<h4 style="color:#7B7C7C">Alternating Least Squares (ALS) Method</h4>

***

The team used ALS Method in Latent Factor-based Collaborative Filtering for the recommender system.

In [60]:
def als(M, k, tol):
    """Do ALS Method of Latent-Factor based Collaborative Filtering."""
    M = M.to_numpy()
    num_users, num_items = M.shape

    # Initialize the feature matrices to all ones
    U = np.ones((num_users, k))
    V = np.ones((k, num_items))

    pred_M = U.dot(V)
    rmse = np.sqrt(np.nanmean((M - pred_M) ** 2))

    while rmse > tol:

        for i in range(M.shape[1]):
            non_nan = M[:, i]**2 >= 0
            lr = LinearRegression(fit_intercept=False).fit(
                U[non_nan], M[non_nan, i])
            V[:, i] = lr.coef_

        for i in range(M.shape[0]):
            non_nan = M[i, :]**2 >= 0
            lr = LinearRegression(fit_intercept=False).fit(
                V.T[non_nan], M[i, non_nan])
            U[i, :] = lr.coef_

        pred_M = U.dot(V)
        rmse = np.sqrt(np.nanmean((M - pred_M) ** 2))

    return U, V.T


def recommend_als(user, df_utility, f_user, f_item, N):
    '''
    Accepts the index of the user, utility matrix,  ùêÖùë¢ùë†ùëíùëü and  ùêÖùëñùë°ùëíùëö then
    returns a list of n recommended unrated items to user sorted from most
    recommended to least then by joke id
    '''
    df_completed = pd.DataFrame(np.matmul(f_user, f_item.T),
                                columns=df_utility.columns,
                                index=df_utility.index)
    df = pd.concat([df_utility.loc[user], df_completed.loc[user]],
                   axis=1).T.reset_index(drop=True)
    df = df[df.columns[df.isna().any()]]
    reco = df.loc[1].sort_values(ascending=False)[:N].index.to_list()
    return reco

In [61]:
f_user_als, f_item_als = als(df_utility, 30, 1)

top_10_cf_als_475 = recommend_als(475, df_utility, f_user_als, f_item_als, 10)
top_10_cf_als_387 = recommend_als(387, df_utility, f_user_als, f_item_als, 10)
top_10_cf_als_49 = recommend_als(49, df_utility, f_user_als, f_item_als, 10)

lf_als_recos = [top_10_cf_als_475, top_10_cf_als_387, top_10_cf_als_49]
df_lf_als = pd.DataFrame(f_user_als@f_item_als.T, index=df_utility.index,
                         columns=df_utility.columns)

In [62]:
for idx in range(3):
    print(f"The top 10 recommended movies for User {users[idx]} are "
          f"the following:")
    display(df_title.loc[lf_als_recos[idx]])
    print("\n\n")

The top 10 recommended movies for User 475 are the following:

,title,genres
movieId,,
2068,Fanny and Alexander (Fanny och Alexander) (1982),Drama|Fantasy|Mystery
4794,Opera (1987),Crime|Horror|Mystery
6140,Tenebre (1982),Horror|Mystery|Thriller
74452,"Wolfman, The (2010)",Horror|Thriller
160565,The Purge: Election Year (2016),Action|Horror|Sci-Fi
85885,Room in Rome (Habitaci√≥n en Roma) (2010),Drama|Romance
6650,Kind Hearts and Coronets (1949),Comedy|Drama
70687,Paper Heart (2009),Comedy|Documentary|Drama|Romance
39427,Stay (2005),Thriller
89118,"Skin I Live In, The (La piel que habito) (2011)",Drama

The top 10 recommended movies for User 387 are the following:

,title,genres
movieId,,
2068,Fanny and Alexander (Fanny och Alexander) (1982),Drama|Fantasy|Mystery
4794,Opera (1987),Crime|Horror|Mystery
6140,Tenebre (1982),Horror|Mystery|Thriller
74452,"Wolfman, The (2010)",Horror|Thriller
6650,Kind Hearts and Coronets (1949),Comedy|Drama
70687,Paper Heart (2009),Comedy|Documentary|Drama|Romance
160565,The Purge: Election Year (2016),Action|Horror|Sci-Fi
85885,Room in Rome (Habitaci√≥n en Roma) (2010),Drama|Romance
39427,Stay (2005),Thriller
89118,"Skin I Live In, The (La piel que habito) (2011)",Drama

The top 10 recommended movies for User 49 are the following:

,title,genres
movieId,,
32892,Ivan's Childhood (a.k.a. My Name is Ivan) (Ivanovo detstvo) (1962),Drama|War
484,Lassie (1994),Adventure|Children
2740,"Kindred, The (1986)",Horror|Sci-Fi
7564,Kwaidan (Kaidan) (1964),Horror
84847,Emma (2009),Comedy|Drama|Romance
1999,"Exorcist III, The (1990)",Horror
90888,Immortals (2011),Action|Drama|Fantasy
73042,Alvin and the Chipmunks: The Squeakquel (2009),Animation|Children|Comedy|Musical
2665,Earth vs. the Flying Saucers (1956),Sci-Fi
121097,To Grandmother's House We Go (1992),Adventure|Children|Comedy

In [63]:
# Excluded user 49 as value is too small
dcg_als = dcg(df_lf_als.loc[[475, 387]],
              [top_10_cf_als_475, top_10_cf_als_387])
ncdg_als = ndcg(df_lf_als.loc[[475, 387]],
                [top_10_cf_als_475, top_10_cf_als_387])

print(f"The DCG of Latent Factor Collaborative Filtering "
      f"(Alternating Least Squares) Recommender System is : "
      f"{dcg_als:.4f}" )
print(f"The NDCG of Latent Factor Collaborative Filtering (Alternating Least "
      f"Squares) Recommender System is: {ncdg_als:.4f}")

The DCG of Latent Factor Collaborative Filtering (Alternating Least Squares) Recommender System is : 493.9942
The NDCG of Latent Factor Collaborative Filtering (Alternating Least Squares) Recommender System is: 0.0000

<h4 style="color:#7B7C7C">Coordinate Gradient Descent (CGD) Method</h4>

***

The team used CGD Method in Latent Factor-based Collaborative Filtering for the recommender system.

In [64]:
def cd(df_utility, k, tol):
    """
    Accepts the utility matrix and number of latent factors k
    then returns the ùêÖùë¢ùë†ùëíùëü and ùêπùëñùë°ùëíùëö matrices. Stop when the improvement in 
    SSE (percent change) is less than the given tolerance ùë°ùëúùëô.
    """
    U, V = np.ones((df_utility.shape[0], k)), np.ones((df_utility.shape[1],
                                                       k))
    M = df_utility.to_numpy()
    sse_0 = np.nansum((M - U@V.T)**2)

    while True:
        for user in range(U.shape[0]):
            for factor in range(U.shape[1]):
                r_exist = np.where(~np.isnan(M[user, :]))[0]
                num = 0
                den = 0
                for s in r_exist:
                    v_sj = V[s, factor]
                    r_is = M[user, s]
                    t = np.where(np.arange(k) != factor)
                    t_sum = U[user, t] @ V[s, t].T
                    num += v_sj * (r_is - t_sum)
                    den += v_sj**2
                U[user, factor] = num / den

        for item in range(V.shape[0]):
            for factor in range(V.shape[1]):
                r_exist = np.where(~np.isnan(M[:, item]))[0]
                num = 0
                den = 0
                for s in r_exist:
                    u_sj = U[s, factor]
                    r_si = M[s, item]
                    t = np.where(np.arange(k) != factor)
                    t_sum = U[s, t] @ V[item, t].T
                    num += u_sj * (r_si - t_sum)
                    den += u_sj**2
                V[item, factor] = num / den

        sse = np.nansum((M - U@V.T)**2)
        change = (sse - sse_0) / sse_0

        if np.abs(change) < tol:
            return U, V
        else:
            sse_0 = sse

    return U, V


def recommend_cd(user, df_utility, f_user, f_item, N):
    """This returns the recommended items for the passed user and its 
    non-rated items im the df_utility matrix. We then reconstruct the matrix
    with the predicted ratings with the dot product of f_user and f_item. 
    This returns N number of items sorted from highest to lowest rating of
    the items if value is similar the priority would be lowest to highest of
    the item/joke id. Code is similar to #2.
    """
    df_completed = pd.DataFrame(np.matmul(f_user, f_item.T),
                                columns=df_utility.columns,
                                index=df_utility.index)
    df = pd.concat([df_utility.loc[user], df_completed.loc[user]],
                   axis=1).T.reset_index(drop=True)
    df = df[df.columns[df.isna().any()]]
    reco = df.loc[1].sort_values(ascending=False)[:N].index.to_list()

    return reco

In [67]:
# This was run in the code above (clustering)
# f_user_cgd, f_item_cgd = cd(df_utility, 30, 0.01)

# top_10_cf_cgd_475 = recommend_cd(475, df_utility, f_user_cgd, f_item_cgd, 10)
# top_10_cf_cgd_387 = recommend_cd(387, df_utility, f_user_cgd, f_item_cgd, 10)
# top_10_cf_cgd_49 = recommend_cd(49, df_utility, f_user_cgd, f_item_cgd, 10)

# lf_cgd_recos = [top_10_cf_cgd_475, top_10_cf_cgd_387, top_10_cf_cgd_49]
df_lf_cgd = pd.DataFrame(f_user_cgd@f_item_cgd.T, index=df_utility.index,
                         columns=df_utility.columns)

In [69]:
for idx in range(3):
    print(f"The top 10 recommended movies for User {users[idx]} "
          f"are the following:")
    display(df_title.loc[lf_cgd_recos[idx]])
    print("\n\n")

The top 10 recommended movies for User 475 are the following:

,title,genres
movieId,,
6835,Alien Contamination (1980),Action|Horror|Sci-Fi
5746,Galaxy of Terror (Quest) (1981),Action|Horror|Mystery|Sci-Fi
136850,Villain (1971),Crime|Drama|Thriller
40491,"Match Factory Girl, The (Tulitikkutehtaan tytt√∂) (1990)",Comedy|Drama
7899,Master of the Flying Guillotine (Du bi quan wang da po xue di zi) (1975),Action
5764,Looker (1981),Drama|Horror|Sci-Fi|Thriller
3567,Bossa Nova (2000),Comedy|Drama|Romance
156605,Paterson,(no genres listed)
53280,"Breed, The (2006)",Horror|Thriller
134847,Ghost Graduation (2012),Comedy

The top 10 recommended movies for User 387 are the following:

,title,genres
movieId,,
5746,Galaxy of Terror (Quest) (1981),Action|Horror|Mystery|Sci-Fi
6835,Alien Contamination (1980),Action|Horror|Sci-Fi
136850,Villain (1971),Crime|Drama|Thriller
40491,"Match Factory Girl, The (Tulitikkutehtaan tytt√∂) (1990)",Comedy|Drama
5764,Looker (1981),Drama|Horror|Sci-Fi|Thriller
7899,Master of the Flying Guillotine (Du bi quan wang da po xue di zi) (1975),Action
3567,Bossa Nova (2000),Comedy|Drama|Romance
156605,Paterson,(no genres listed)
87834,My Life as McDull (Mak dau goo si) (2001),Animation|Comedy|Drama
131130,Tom and Jerry: A Nutcracker Tale (2007),Animation|Comedy

The top 10 recommended movies for User 49 are the following:

,title,genres
movieId,,
5746,Galaxy of Terror (Quest) (1981),Action|Horror|Mystery|Sci-Fi
6835,Alien Contamination (1980),Action|Horror|Sci-Fi
136850,Villain (1971),Crime|Drama|Thriller
40491,"Match Factory Girl, The (Tulitikkutehtaan tytt√∂) (1990)",Comedy|Drama
7899,Master of the Flying Guillotine (Du bi quan wang da po xue di zi) (1975),Action
5764,Looker (1981),Drama|Horror|Sci-Fi|Thriller
3567,Bossa Nova (2000),Comedy|Drama|Romance
156605,Paterson,(no genres listed)
136359,Scooby-Doo Goes Hollywood (1979),Animation|Children|Comedy
157775,Tenchi Muy√¥! In Love (1996),Animation|Comedy

In [76]:
# Excluded user 49 as value is too small
df_lf_cgd = pd.DataFrame(df_lf_cgd, index=df_utility.index,
                         columns=df_utility.columns)
dcg_cgd = dcg(df_lf_cgd.loc[[475, 387]],
              [top_10_cf_cgd_475, top_10_cf_cgd_387])
ndcg_cgd = ndcg(df_lf_cgd.loc[[475, 387]],
                [top_10_cf_cgd_475, top_10_cf_cgd_387])
print(f"The DCG of Latent Factor Collaborative Filtering (Coordinate "
      f"Gradient Descent) Recommender System is : {dcg_cgd:.4f}" )
print(f"The NDCG of Latent Factor Collaborative Filtering (Coordinate "
      f"Gradient Descent) Recommender System is: {ndcg_cgd:.4f}")

The DCG of Latent Factor Collaborative Filtering (Coordinate Gradient Descent) Recommender System is : 381.3780
The NDCG of Latent Factor Collaborative Filtering (Coordinate Gradient Descent) Recommender System is: 1.0000

Both Latent Factor Collaborative Filtering  ALS and CGD produced nearly similar results for all results in terms of the genre of the movies. It managed to recommend movies that were the top genre across the users as it tries to calculate based on the preference of users and the rated movies, and the latent factors reflect it is based on the top genres of the matrix, which are Drama, Comedy, and Thriller. We also need to note that CGD had the highest NDCG score of 1, meaning the recommendations' quality is as high as the ratings of the completed matrix.

<h3 style="color:#221F1F">Content-based</h3>

***

Before moving to content, we needed to create an Item/Movie Profile to build a matrix to derive the User Profiles. The item profile created is based on the genre of each movie. We need to note again that each movie has multiple genres since each genre doesn't have a weight. We added 1 to each genre every time it's present in the movie then we scaled it down to reduce computational requirements.

In [77]:
from sklearn.preprocessing import minmax_scale
genre_ = []
df_movie_prep = pd.DataFrame(index=data['movieId'].unique())

for i in data['genres'].unique():
    for k in i.split('|'):
        genre_.append(k)

genre_ = list(set(genre_))
df_movie_prep[genre_] = 0
df_movie_prep.fillna(0)

for i in data.itertuples():
    for k in (i[3].split('|')):
        df_movie_prep.loc[i[1], k] += 1

# Scale it down
df_movie_profile = pd.DataFrame(minmax_scale(df_movie_prep,
                                             feature_range=(0, 1)),
                                index=df_movie_prep.index,
                                columns=df_movie_prep.columns)
display(df_movie_profile)

,Action,War,Horror,Romance,Animation,Film-Noir,Documentary,Fantasy,Crime,Thriller,Comedy,Drama,(no genres listed),Children,Sci-Fi,IMAX,Western,Adventure,Musical,Mystery
1,0.000000,0.0,0.0,0.000000,1.000000,0.0,0.0,1.000000,0.0,0.0,0.444215,0.000000,0.0,1.00000,0.0,0.0,0.0,0.820611,0.0,0.0
2,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.520930,0.0,0.0,0.000000,0.000000,0.0,0.52093,0.0,0.0,0.0,0.427481,0.0,0.0
3,0.000000,0.0,0.0,0.158209,0.000000,0.0,0.0,0.000000,0.0,0.0,0.109504,0.000000,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.0
4,0.000000,0.0,0.0,0.020896,0.000000,0.0,0.0,0.000000,0.0,0.0,0.014463,0.014463,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.0
5,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.103306,0.000000,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.003571,0.0,0.0,0.000000,0.004651,0.0,0.0,0.004651,0.0,0.0,0.002066,0.000000,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.0
193583,0.000000,0.0,0.0,0.000000,0.004651,0.0,0.0,0.004651,0.0,0.0,0.002066,0.000000,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.0
193585,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.002066,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.0
193587,0.003571,0.0,0.0,0.000000,0.004651,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.0
193609,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.002066,0.000000,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.0

<h4 style="color:#7B7C7C">Binary Aggregation</h4>

***

The team used Binary Aggregation Content-based for the recommender system.

In [78]:
def compute_user_profile_agg_binary(df_utility, df_item_profiles, user):
    """Function that calculates the mean value for each feature of all all
    items in the item profile based on the given user where it has provided
    a rating and is within the the mean value of all user ratings. Returns
    the user profile for all features.
    """

    index = (df_utility.iloc[user] >= df_utility.iloc[user].mean(skipna=True))
    return df_item_profiles[index].mean()


def recommend_agg_binary(df_utility, df_item_profiles, user_profile, user, L):
    """Function that returns the top L recommendation of unrated items based
    on the cosine distance measure of the item profile against the binary 
    aggregated user profile. Returns a ranked list of items in desc order.
    """

    index = np.where(np.isnan(df_utility.iloc[user]))[0]
    movie_id = df_item_profiles.iloc[index].index

    reco = [cosine(df_item_profiles.iloc[i], user_profile) for i in index]
    sort = sorted(list(zip(movie_id, reco)), key=lambda x: (x[1], x[0]))

    index_all = np.where((df_utility.iloc[user]))[0]
    reco_all = [cosine(df_item_profiles.iloc[i],
                       user_profile) for i in index_all]

    return [(i[0]) for i in sort if i[1] > 0][:L], list(zip(index_all, reco_all))

In [79]:
# Create user profiles
df_user_profile_binary_475 = compute_user_profile_agg_binary(
    df_utility, df_movie_profile, 475)

df_user_profile_binary_387 = compute_user_profile_agg_binary(
    df_utility, df_movie_profile, 387)

df_user_profile_binary_49 = compute_user_profile_agg_binary(
    df_utility, df_movie_profile, 49)

In [80]:
top_10_cb_bin_475, reco_cb_bin_475 = recommend_agg_binary(
    df_utility, df_movie_profile, df_user_profile_binary_475, 475, 10)

top_10_cb_bin_387, reco_cb_bin_387 = recommend_agg_binary(
    df_utility, df_movie_profile, df_user_profile_binary_387, 387, 10)

top_10_cb_bin_49, reco_cb_bin_49 = recommend_agg_binary(
    df_utility, df_movie_profile, df_user_profile_binary_49, 49, 10)

In [81]:
df_content_binary = df_utility.copy()
for i in range(len(reco_cb_bin_475)):
    df_content_binary.iloc[df_content_binary.index.get_loc(
        475), i] = reco_cb_bin_475[i][1]
    df_content_binary.iloc[df_content_binary.index.get_loc(
        387), i] = reco_cb_bin_387[i][1]
    df_content_binary.iloc[df_content_binary.index.get_loc(
        49), i] = reco_cb_bin_49[i][1]
df_content_binary = df_content_binary.loc[[475, 387, 49]]

content_binary_recos = [top_10_cb_bin_475, top_10_cb_bin_387, top_10_cb_bin_49]

In [82]:
for idx in range(3):
    print(f"The top 10 recommended movies for User {users[idx]} "
          f"are the following:")
    display(df_title.loc[content_binary_recos[idx]])
    print("\n\n")

The top 10 recommended movies for User 475 are the following:

,title,genres
movieId,,
1907,Mulan (1998),Adventure|Animation|Children|Comedy|Drama|Musical|Romance
56152,Enchanted (2007),Adventure|Animation|Children|Comedy|Fantasy|Musical|Romance
108540,Ernest & C√©lestine (Ernest et C√©lestine) (2012),Adventure|Animation|Children|Comedy|Drama|Romance
631,All Dogs Go to Heaven 2 (1996),Adventure|Animation|Children|Fantasy|Musical|Romance
2092,"Return of Jafar, The (1994)",Adventure|Animation|Children|Fantasy|Musical|Romance
134853,Inside Out (2015),Adventure|Animation|Children|Comedy|Drama|Fantasy
8360,Shrek 2 (2004),Adventure|Animation|Children|Comedy|Musical|Romance
84637,Gnomeo & Juliet (2011),Adventure|Animation|Children|Comedy|Fantasy|Romance
92348,Puss in Boots (Nagagutsu o haita neko) (1969),Adventure|Animation|Children|Comedy|Fantasy|Romance
4306,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Romance

The top 10 recommended movies for User 387 are the following:

,title,genres
movieId,,
84637,Gnomeo & Juliet (2011),Adventure|Animation|Children|Comedy|Fantasy|Romance
92348,Puss in Boots (Nagagutsu o haita neko) (1969),Adventure|Animation|Children|Comedy|Fantasy|Romance
3754,"Adventures of Rocky and Bullwinkle, The (2000)",Adventure|Animation|Children|Comedy|Fantasy
4886,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy
166461,Moana (2016),Adventure|Animation|Children|Comedy|Fantasy
2294,Antz (1998),Adventure|Animation|Children|Comedy|Fantasy
3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
45074,"Wild, The (2006)",Adventure|Animation|Children|Comedy|Fantasy
65577,"Tale of Despereaux, The (2008)",Adventure|Animation|Children|Comedy|Fantasy
91355,Asterix and the Vikings (Ast√©rix et les Vikings) (2006),Adventure|Animation|Children|Comedy|Fantasy

The top 10 recommended movies for User 49 are the following:

,title,genres
movieId,,
55116,"Hunting Party, The (2007)",Action|Adventure|Comedy|Drama|Thriller
117646,Dragonheart 2: A New Beginning (2000),Action|Adventure|Comedy|Drama|Fantasy|Thriller
5657,Flashback (1990),Action|Adventure|Comedy|Crime|Drama
6990,The Great Train Robbery (1978),Action|Adventure|Comedy|Crime|Drama
6016,City of God (Cidade de Deus) (2002),Action|Adventure|Crime|Drama|Thriller
4956,"Stunt Man, The (1980)",Action|Adventure|Comedy|Drama|Romance|Thriller
26184,"Diamond Arm, The (Brilliantovaya ruka) (1968)",Action|Adventure|Comedy|Crime|Thriller
6503,Charlie's Angels: Full Throttle (2003),Action|Adventure|Comedy|Crime|Thriller
8968,After the Sunset (2004),Action|Adventure|Comedy|Crime|Thriller
80219,Machete (2010),Action|Adventure|Comedy|Crime|Thriller

In [83]:
print(f"The DCG of Content-based (Binary Aggregation) Recommender System is :"
      f" {dcg(df_content_binary, content_binary_recos):.4f}" )
print(f"The NDCG of Content-based (Binary Aggregation) Recommender System is:"
      f" {ndcg(df_content_binary, content_binary_recos):.4f}")

The DCG of Content-based (Binary Aggregation) Recommender System is : 5.0853
The NDCG of Content-based (Binary Aggregation) Recommender System is: 0.5604

<h4 style="color:#7B7C7C">Numeric Aggregation</h4>

***

The team used Numeric Aggregation Content-based for the recommender system.

In [84]:
def compute_user_profile_agg_numeric(df_utility, df_item_profiles, user):
    """Function that calculates the mean value for each feature of all 
    items in the item profile based on the given user where all items are
    caclulated based on the mean center value of each item as its weight based 
    on the mean user rating as calculated for the user. Returns the calculated 
    user profile for all features.
    """
    mean_user = df_utility.iloc[user].mean(skipna=True)
    weight = (df_utility.iloc[user] - df_utility.iloc[user].mean(skipna=True))
    weight = weight.to_numpy().reshape(weight.shape[0], 1)
    df_user_profile = (pd.DataFrame(df_item_profiles.to_numpy()*weight,
                                    columns=df_item_profiles.columns))
    return df_user_profile.mean()


def recommend_agg_numeric(df_utility, df_item_profiles,
                          user_profile, user, L):
    """Function that returns the top L recommendation of unrated items based
    on the cosine distance measure of the item profile against the mean 
    centered aggregated user profile. Returns a ranked list of items in desc 
    order.
    """

    index = np.where(np.isnan(df_utility.iloc[user]))[0]
    movie_id = df_item_profiles.iloc[index].index

    reco = [cosine(df_item_profiles.iloc[i], user_profile) for i in index]
    sort = sorted(list(zip(movie_id, reco)), key=lambda x: (x[1], x[0]))

    index_all = np.where((df_utility.iloc[user]))[0]
    reco_all = [cosine(df_item_profiles.iloc[i], user_profile)
                for i in index_all]

    return [(i[0]) for i in sort if i[1] > 0][:L], list(zip(index_all,
                                                            reco_all))

In [85]:
# Create user profiles
df_user_profile_numeric_475 = compute_user_profile_agg_numeric(
    df_utility, df_movie_profile, 475)

df_user_profile_numeric_387 = compute_user_profile_agg_numeric(
    df_utility, df_movie_profile, 387)

df_user_profile_numeric_49 = compute_user_profile_agg_numeric(
    df_utility, df_movie_profile, 49)

In [86]:
top_10_cb_num_475, reco_cb_num_475 = recommend_agg_numeric(
    df_utility, df_movie_profile, df_user_profile_binary_475, 475, 10)

top_10_cb_num_387, reco_cb_num_387 = recommend_agg_numeric(
    df_utility, df_movie_profile, df_user_profile_binary_387, 387, 10)

top_10_cb_num_49, reco_cb_num_49 = recommend_agg_numeric(
    df_utility, df_movie_profile, df_user_profile_numeric_49, 49, 10)

In [87]:
df_content_numeric = df_utility.copy()

for i in range(len(reco_cb_num_475)):
    df_content_numeric.iloc[df_content_numeric.index.get_loc(
        475), i] = reco_cb_num_475[i][1]
    df_content_numeric.iloc[df_content_numeric.index.get_loc(
        387), i] = reco_cb_num_387[i][1]
    df_content_numeric.iloc[df_content_numeric.index.get_loc(
        49), i] = reco_cb_num_49[i][1]
df_content_numeric = df_content_numeric.loc[[475, 387, 49]]
content_numeric_recos = [top_10_cb_num_475,
                         top_10_cb_num_387, top_10_cb_num_49]

In [88]:
for idx in range(3):
    print(f"The top 10 recommended movies for User {users[idx]} "
          f"are the following:")
    display(df_title.loc[content_numeric_recos[idx]])
    print("\n\n")

The top 10 recommended movies for User 475 are the following:

,title,genres
movieId,,
1907,Mulan (1998),Adventure|Animation|Children|Comedy|Drama|Musical|Romance
56152,Enchanted (2007),Adventure|Animation|Children|Comedy|Fantasy|Musical|Romance
108540,Ernest & C√©lestine (Ernest et C√©lestine) (2012),Adventure|Animation|Children|Comedy|Drama|Romance
631,All Dogs Go to Heaven 2 (1996),Adventure|Animation|Children|Fantasy|Musical|Romance
2092,"Return of Jafar, The (1994)",Adventure|Animation|Children|Fantasy|Musical|Romance
134853,Inside Out (2015),Adventure|Animation|Children|Comedy|Drama|Fantasy
8360,Shrek 2 (2004),Adventure|Animation|Children|Comedy|Musical|Romance
84637,Gnomeo & Juliet (2011),Adventure|Animation|Children|Comedy|Fantasy|Romance
92348,Puss in Boots (Nagagutsu o haita neko) (1969),Adventure|Animation|Children|Comedy|Fantasy|Romance
4306,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Romance

The top 10 recommended movies for User 387 are the following:

,title,genres
movieId,,
84637,Gnomeo & Juliet (2011),Adventure|Animation|Children|Comedy|Fantasy|Romance
92348,Puss in Boots (Nagagutsu o haita neko) (1969),Adventure|Animation|Children|Comedy|Fantasy|Romance
3754,"Adventures of Rocky and Bullwinkle, The (2000)",Adventure|Animation|Children|Comedy|Fantasy
4886,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy
166461,Moana (2016),Adventure|Animation|Children|Comedy|Fantasy
2294,Antz (1998),Adventure|Animation|Children|Comedy|Fantasy
3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
45074,"Wild, The (2006)",Adventure|Animation|Children|Comedy|Fantasy
65577,"Tale of Despereaux, The (2008)",Adventure|Animation|Children|Comedy|Fantasy
91355,Asterix and the Vikings (Ast√©rix et les Vikings) (2006),Adventure|Animation|Children|Comedy|Fantasy

The top 10 recommended movies for User 49 are the following:

                                     title                genres
movieId
259                   Kiss of Death (1995)  Crime|Drama|Thriller
507                Perfect World, A (1993)  Crime|Drama|Thriller
2176                           Rope (1948)  Crime|Drama|Thriller
2268                Few Good Men, A (1992)  Crime|Drama|Thriller
3169     The Falcon and the Snowman (1985)  Crime|Drama|Thriller
3551                   Marathon Man (1976)  Crime|Drama|Thriller
4034                        Traffic (2000)  Crime|Drama|Thriller
4776                   Training Day (2001)  Crime|Drama|Thriller
5329                Salton Sea, The (2002)  Crime|Drama|Thriller
5959                           Narc (2002)  Crime|Drama|Thriller

In [89]:
print(f"The DCG of Content-based (Numeric Aggregation) Recommender System is "
      f": {dcg(df_content_numeric, content_numeric_recos):.4f}" )
print(f"The NDCG of Content-based (Numeric Aggregation) Recommender System is"
      f": {ndcg(df_content_numeric, content_numeric_recos):.4f}")

The DCG of Content-based (Numeric Aggregation) Recommender System is : 5.0284
The NDCG of Content-based (Numeric Aggregation) Recommender System is: 0.5133

Both Content-Based Binary and Numeric Aggregation recommendations produced the same results. However, it was the unexpected results that it gave out movies that have multiple genres. There is no clear pattern, but almost all the appeared genres have been somewhat rated but not the top user preference. After further investigation, it was because of the weight given to movies with multiple genres. Since the movies recommended have around 3-6+ genres, it amplified the score of movies since the computation is per genre. If a user has rated multiple movies in different genres, it will amplify the scores of these multi-genre movies. This is why Paolo and Martin have near similar recommendations because they have already rated many movies. Almond has a slightly different result, but the quality of the results is still the same. Both algorithms have nearly similar DCG and NDCG scores.

<h4 style="color:#7B7C7C">Rule-based Approach</h4>

***

The team used Rule-based Content-based for the recommender system.

In [90]:
def find_rules(df_utility, df_item_profiles, user, minsup, minconf):
    """
    The function accepts the utility matrix and item profiles then returns 
    the rules for the given user, minimum support and minimum confidence.
    Return each rule as a dictionary with keys rating, features and
    confidence. A rating is LIKE if the rating is at least equal to the mean
    rating of the user, otherwise the rating is DISLIKE if the rating is less
    than the mean rating of the user. Sort features lexicographically. Sort
    rules by decreasing confidence then lexicographically by features.
    """

    user_ratings = df_utility.loc[user]
    user_mean_rating = user_ratings.mean()
    mean_centered_ratings = user_ratings - user_mean_rating

    df_item_profiles = df_item_profiles.copy()
    df_item_profiles[['LIKE', 'DISLIKE']] = 0
    (df_item_profiles.loc[mean_centered_ratings
                          .index[mean_centered_ratings >= 0], 'LIKE']) = 1
    (df_item_profiles.loc[mean_centered_ratings
                          .index[mean_centered_ratings < 0], 'DISLIKE']) = 1

    selected_items = (df_item_profiles.loc[mean_centered_ratings.dropna()
                                           .index])
    db = selected_items.apply(lambda x: set(x.index[x > 0]), axis=1)
    db_list = db.to_list()

    rules = fim.fpgrowth(db_list, target='r', supp=minsup,
                         conf=minconf, report='C')
    rules = [r for r in rules if (
        r[0] == 'LIKE' or r[0] == 'DISLIKE') and len(r[1]) > 0]
    sorted_rules = sorted(rules, key=lambda r: (-r[2], sorted(r[1])))

    result = [{'rating': r[0], 'features': sorted(
        r[1]), 'confidence': r[2]} for r in sorted_rules]
    return result


def recommend_rules(df_utility, df_item_profiles, user_profile, user, L):
    """Accepts the utility matrix and item profiles then recommends L items to
    the user based on their user profile. Sort by item ID if they are of equal
    rating."""
    mask_unrated = df_utility.loc[user].isnull()
    item_unrated = mask_unrated[mask_unrated].index

    rankings = dict()
    for joke_id, row in df_item_profiles.loc[item_unrated].iterrows():
        scores = [r['confidence'] * (-1 if r['rating'] == 'DISLIKE' else 1)
                  for r in rules
                  if set(r['features']).issubset(row[row > 0].index)]
        rank = np.sum(scores)
        rankings[joke_id] = rank

    reco = sorted(rankings.items(),
                  key=lambda x: (x[1], -x[0]), reverse=True)[:L]
    rules_recos = [r[0] for r in reco]

    # Calculate the score of all other
    rankings_2 = dict()
    for joke_id, row in df_item_profiles.iterrows():
        scores = [r['confidence'] * (-1 if r['rating'] == 'DISLIKE' else 1)
                  for r in user_profile
                  if set(r['features']).issubset(row[row > 0].index)]
        rank = np.sum(scores)
        rankings_2[joke_id] = rank

    df_util_fill = pd.DataFrame(rankings_2, index=[user])

    return rules_recos, df_util_fill

In [91]:
rules_recos = []
for idx, user in enumerate(users):
    rules = find_rules(df_utility, df_movie_profile, user,
                       minsup=-5, minconf=60)
    rules_reco, df_util_fill = recommend_rules(df_utility,
                                               df_movie_profile, rules,
                                               user, 10)
    rules_recos.append(rules_reco)
    if idx == 0:
        df_util_ndcg = df_util_fill.copy()
    else:
        df_util_ndcg = pd.concat([df_util_ndcg, df_util_fill], axis=0)

In [92]:
for idx in range(3):
    print(f"The top 10 recommended movies for User {users[idx]} "
          f"are the following:")
    display(df_title.loc[rules_recos[idx]])
    print("\n\n")

The top 10 recommended movies for User 475 are the following:

                              title             genres
movieId
210                Wild Bill (1995)            Western
383               Wyatt Earp (1994)            Western
416                Bad Girls (1994)            Western
913      Maltese Falcon, The (1941)  Film-Noir|Mystery
2066         Out of the Past (1947)          Film-Noir
2401              Pale Rider (1985)            Western
2896           Alvarez Kelly (1966)            Western
2921     High Plains Drifter (1973)            Western
3037          Little Big Man (1970)            Western
3074        Jeremiah Johnson (1972)            Western

The top 10 recommended movies for User 387 are the following:

,title,genres
movieId,,
81132,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|Horror|Mystery|Thriller|Western
26701,Patlabor: The Movie (Kid√¥ keisatsu patoreb√¢: The Movie) (1989),Action|Animation|Crime|Drama|Film-Noir|Mystery|Sci-Fi|Thriller
43932,Pulse (2006),Action|Drama|Fantasy|Horror|Mystery|Sci-Fi|Thriller
79132,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
198,Strange Days (1995),Action|Crime|Drama|Mystery|Sci-Fi|Thriller
71999,Aelita: The Queen of Mars (Aelita) (1924),Action|Adventure|Drama|Fantasy|Romance|Sci-Fi|Thriller
6902,Interstate 60 (2002),Adventure|Comedy|Drama|Fantasy|Mystery|Sci-Fi|Thriller
130482,Too Late for Tears (1949),Crime|Drama|Film-Noir|Mystery|Thriller
459,"Getaway, The (1994)",Action|Adventure|Crime|Drama|Romance|Thriller
26887,"Langoliers, The (1995)",Drama|Fantasy|Horror|Mystery|Sci-Fi|Thriller

The top 10 recommended movies for User 49 are the following:

,title,genres
movieId,,
198,Strange Days (1995),Action|Crime|Drama|Mystery|Sci-Fi|Thriller
292,Outbreak (1995),Action|Drama|Sci-Fi|Thriller
504,No Escape (1994),Action|Drama|Sci-Fi
519,RoboCop 3 (1993),Action|Crime|Drama|Sci-Fi|Thriller
1726,"Postman, The (1997)",Action|Adventure|Drama|Sci-Fi
2393,Star Trek: Insurrection (1998),Action|Drama|Romance|Sci-Fi
2529,Planet of the Apes (1968),Action|Drama|Sci-Fi
2662,"War of the Worlds, The (1953)",Action|Drama|Sci-Fi
2985,RoboCop (1987),Action|Crime|Drama|Sci-Fi|Thriller
3032,"Omega Man, The (1971)",Action|Drama|Sci-Fi|Thriller

In [93]:
print(f"The DCG of Content-based Recommender System is : "
      f"{dcg(df_util_ndcg/1000, rules_recos):.4f}" )
print(f"The NDCG of Content-based Recommender System is: "
      f"{ndcg(df_util_ndcg/1000, rules_recos):.4f}")

The DCG of Content-based Recommender System is : 12.0465
The NDCG of Content-based Recommender System is: 0.9975

The latest algorithm we implemented is the Content-Based FIM Rule-Based: `supp=-5`, `minconf=60`. This produced the best results regarding how genres were ranked based on their ratings. The frequent item sets were built based on the genres, and it recommended similar movies based on the genre of the users within the FIM. Using genre as a metric produced the best results out of all the algorithms.

<h1 style="background-color:#B81D24; color:#F5F5F1; padding: 20px;">Conclusion</h1>

<center>Table 02. Summary of DCG and NDCG Results of Different Recommender System Algorithms.</center>
<table style="width:60%">
    <tr style="background-color:#7B7C7C; color:#F5F5F1">
      <th style="width:60%; text-align:center">Recommender Algorithm</th>
      <th style="width:20%; text-align:center" >DCG</th>
      <th style="width:20%; text-align:center">NDCG</th>
    </tr>
    <tr>
        <td style="text-align:left">User-based Collaborative Filtering</td>
        <td style="text-align:right">334.386</td>
        <td style="text-align:right">0.995</td>
   </tr>
   <tr>
        <td style="text-align:left">Item-based Collaborative Filtering</td>
        <td style="text-align:right">N/A</td>
        <td style="text-align:right">N/A</td>
   </tr>
   <tr>
        <td style="text-align:left">ALS Latent Factor-based Collaborative Filtering</td>
        <td style="text-align:right">411.979</td>
        <td style="text-align:right">0.992</td>
   </tr>
   <tr>
        <td style="text-align:left">CGD Latent Factor-based Collaborative Filtering</td>
        <td style="text-align:right">381.378</td>
        <td style="text-align:right">1.000</td>
   </tr>
   <tr>
        <td style="text-align:left">Binary Aggregation Content-based</td>
        <td style="text-align:right">5.086</td>
        <td style="text-align:right">0.560</td>
   </tr>
   <tr>
        <td style="text-align:left">Numeric Aggregation Content-based</td>
        <td style="text-align:right">5.028</td>
        <td style="text-align:right">0.513</td>
   </tr>
   <tr>
        <td style="text-align:left">Rule-based Approach Content-based</td>
        <td style="text-align:right">13.76</td>
        <td style="text-align:right">0.997</td>
   </tr>
  </table>
<br>

Based on the results summary, we need to note that we needed to scale and recalculate the scores for content-based algorithms as it does not use ratings directly to recommend. For example, in the case of Binary and Numeric, we used cosine distance as the measure and recalculated it across the current ratings. Similarly, for FIM Rule-Based, we needed to recalculate the confidence scores and then take the `DCG` and `NDCG` scores.
 
To summarize the output, we will look into the NDCG, as this is the best interpretation regarding the quality of the results. CF-CGD has the highest score of 1. However, the scores of CF-User based 0.995, CF-ALS 0.992, and CS-FIM 0.9965 have near-perfect ratings for the three users combined, meaning the quality of the recommended movies is on par with the ratings of the completed user ratings. CB-Binary-Numeric can potentially be fixed by having weights on the genre's or looking for another way to build the movie profile. Similar to CF-Item Based, if we have a more powerful machine and improve the code base, we can maybe use the whole dataset, and we think that it should produce high-quality results and have enough data to make the recommendation.

Results from both clusters help identify user behavior on how `actively and heavily` they rate their movies. It could also be helpful to get more attributes for the user that tracks their behavior. Our current dataset is only base, and the team agrees that the output from the base algorithms applied suffices the expected outcome, but this can be further improved by having more attributes.

Frequent itemset mining answers the question: what movie genre should movie producers make if they want to have a highly-rated movie? The top three genre pairs in terms of `absolute support` are: `Action Adventure`, `Crime Drama`, and `Crime Thriller`. On the other hand, the top three genre pairs (antecedent-consequent) in terms of `highest lift` are `Children Animation`, `Mystery Thriller`, and `War Drama`. Movie producers could target producing these kinds of movies to increase the likelihood that their films will be highly rated.
 
Genre helped us identify the connection between each movie recommended and explain the results. However, notice that multiple genres in each movie affected the result of our binary and numeric content-based recommendations. Thus, we need to improve the genre dataset or how we can build our item profile.

There's no best recommender system. We can see in this study a **specific use case applicable to each recommender algorithm**. However, we think improving the Item Profile for content-based can provide the personalized recommendation needed. We can see high scores for `NDCG` almost in all recommender systems. I think it's also because of the data quality, as there is a good amount of rating from the users we have randomly chosen. We also need to note in some instances that having serendipitous recommendations can help as this gives variety to the users, and we will never know if they want to try it until we recommend it to them.
 
From a performance standpoint, the calculations become `more complex and exponentially longer` as the data grows. Organizations must ensure their algorithms are optimized, as computing power is expensive. Time is of the essence, given how fast-paced everything is nowadays. Nobody would wait more than 8 seconds for a result to come out as this is the average attention span of users over the internet, and given how our run times come out on some of the algorithms, this may not pass the criteria.
 
Organizations can take advantage of and value this approach to evaluate their data set on a granular approach and see the quality of the results. This can help them decide which recommender system approach fits their dataset well along with its applicability and improve the algorithm further. We can see this applies not only to Movie datasets but to a similar rating approach like books, articles, and literature and even help decide which movies to produce next, books to publish, or even literature to write.

<h1 style="background-color:#B81D24; color:#F5F5F1; padding: 20px;">Recommendation</h1>

The dataset can be improved by identifying the `primary genre` of each movie, with appropriate tags, and having `additional attributes` for the user.
 
We are interested to see the full recommendation on the Item Based recommendation, and having a more powerful machine that can handle the run time faster is needed.
 
Adding weights on each user based on how active their review is and how valid their review can help in the quality of the recommendations we can provide them. Considering the attributes such as watch hours, active hours, number of movies watched, and movies watched if they finished or not, we can understand their behavior better, which would give us better ways to give the weights.
 
Perform another clustering once the attributes of users have been defined to see any new grouping patterns formed. 
 
Attributes can also help with the cold start problem with the user, especially on Collaborative User/Item based
 
`Temporal Analysis` needs to be done to segregate data and recommendations accordingly. For example, we want the latest movies to be recommended along with recent user preferences. 
 
Explore `Surprise` library as it provides different recommendations and is much easier to implement given its optimization and multiple library extensions.
 
Look into other scoring/error measures (RMSE, MAE, Precision, Recall, Coverage, Popularity, and Business Metrics) that can help us interpret and explain the quality of our results. Especially once a recommender system is deployed, we can measure our recommendations' click-through rate.
 
Run a cross-validation test to see if the `NDCG-DCG` results would be the same on different samples and a larger pool of users. 
 
 
For FIM, we could also add a `time factor` in the filter. Then, the preference of users could change from time to time. For example, we could decrease the weight brought by items in the past and put more weight on the movies recently released.

<h1 style="background-color:#B81D24; color:#F5F5F1; padding: 20px;">References</h1>

[1] Harper, F.M. and Konstan, J. (2015). *The MovieLens Datasets: History and Context*. ACM Transactions on Interactive Intelligent Systems (TiiS) 5, 4: 19:1‚Äì19:19. <https://doi.org/10.1145/2827872>. Retrieved March 11, 2023 from https://grouplens.org/datasets/

[2] Qutbuddin, M. (2020, April 20). *An Exhaustive List of Methods to Evaluate Recommender Systems*. Towards Data Science. Retrieved March 12, 2023, from https://towardsdatascience.com/an-exhaustive-list-of-methods-to-evaluate-recommender-systems-a70c05e121de

[3] Lendave, V (2021, October 21). *How to Measure the Success of a Recommendation System?* Retrieved March 12, 2023 from https://analyticsindiamag.com/about/

[4] Sims, L. (n.d.) *How Long Do You Have to Get a Website Viewer's Attention?* Retrieved March 12, 2023 from https://smallbusiness.chron.com/long-website-viewers-attention-72249.html

[5] Chokhra, P. (2021, January 27). *Evaluating Recommender Systems*. Retrieved March 12, 2023 from https://medium.com/nerd-for-tech/evaluating-recommender-systems-590a7b87afa5

[6] Jekyll, Hyde, Hug, N. (n.d.). *Surprise Overview*. Retrieved March 12, 2023 from https://surpriselib.com/